<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_panel_wechat_response_path(@wechat_response), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= WechatResponse.human_attribute_name(:regexp) %></td>
      <td><%= @wechat_response.regexp %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= WechatResponse.human_attribute_name(:response) %></td>
      <td><%= @wechat_response.response %></td>
    </tr>
  </tbody>
</table>
