<div>
  <dt><%= Wechat::WechatUser.human_attribute_name(:name) %></dt>
  <dd><%= @wechat_user.name %></dd>
</div>
<div>
  <dt><%= Wechat::WechatUser.human_attribute_name(:uid) %></dt>
  <dd><%= @wechat_user.uid %></dd>
</div>
<div>
  <dt><%= Wechat::WechatUser.human_attribute_name(:unionid) %></dt>
  <dd><%= @wechat_user.unionid %></dd>
</div>
<div>
  <dt><%= Wechat::WechatUser.human_attribute_name(:account) %></dt>
  <dd><%= @wechat_user.account&.identity %></dd>
</div>
<div>
  <dt><%= Wechat::WechatUser.human_attribute_name(:user) %></dt>
  <dd><%= @wechat_user.user&.id %></dd>
</div>
