<th><%= Wechat::Menu.human_attribute_name(:name) %></th>
<th style="width: 50%">
  <p><%= Wechat::Menu.human_attribute_name(:value) %></p>
  <p><%= Wechat::Menu.human_attribute_name(:mp_appid) %></p>
  <p><%= Wechat::Menu.human_attribute_name(:mp_pagepath) %></p>
</th>
<th><%= Wechat::Menu.human_attribute_name(:position) %></th>
<th></th>
