<td>
  <span style="width: 1em; display: inline-block"></span>
  <span><%= model.name %></span>
  <span class="tag"><%= model.type_i18n %></span>
</td>
<td><%= model.value %></td>
<td>
  <p><%= model.mp_appid %></p>
  <p><%= model.mp_pagepath %></p>
</td>
<td>
  <span class="has-text-grey"><%= model.position %></span>
</td>
