<tr id="tr_<%= model.id %>" data-depth="10" data-controller="tree show" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="<%= 'has-background-white-ter' %>">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden">
      <%= link_to({ controller: 'menu_root_apps', action: 'new', menu_root_id: model.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link') do %>
        <i class="fa-solid fa-plus"></i>
        <span><% t('.new') %></span>
      <% end %>
      <%= link_to({ action: 'new', menu_root_id: model.id }, data: { turbo_frame: 'modal' }, class: 'button is-small is-success') do %>
        <i class="fa-solid fa-plus"></i>
        <span><% t('.new') %></span>
      <% end %>
    </div>
  </td>
</tr>
<% model.menus.each do |menu| %>
  <%= render partial: 'index_tbody', layout: 'index_tr', locals: { model: menu } %>
<% end %>
<% model.menu_apps.where(appid: @app.appid).each do |menu_app| %>
  <%= render partial: 'index_app_tbody', layout: 'index_app_tr', locals: { model: menu_app } %>
<% end %>
<% model.menu_root_apps.where(appid: @app.appid).each do |menu_root_app| %>
  <%= render partial: 'root_tbody', layout: 'root_app_tr', locals: { model: menu_root_app } %>
<% end %>
