<tr data-depth="10" data-controller="tree show" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="<%= 'background-white-ter' %>">
  <td colspan="4"></td>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'menu_root_apps', action: 'new' }, data: { turbo_frame: 'modal' }, class: 'button is-small is-outlined is-link') do %>
        <%= svg_tag 'plus' %>
        <span class="pl-1"><%= t('wechat.panel.menu_root_apps.new.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
<% Wechat::MenuRootApp.where(appid: @app.appid, menu_root_id: nil).each do |child| %>
  <%= render partial: 'root_tbody', layout: 'root_app_tr', locals: { model: child } %>
<% end %>
