<tr id="tr_<%= model.id %>" data-depth="10" data-controller="tree show" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="<%= 'background-white-ter' %>">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ controller: 'menu_root_apps', action: 'new', menu_root_id: model.id }, class: 'button is-small is-link') do %>
        <i class="fa-solid fa-plus"></i>
        <span><% t('.new.title') %></span>
      <% end %>
      <%= button_to({ action: 'new', menu_root_id: model.id }, class: 'button is-small is-success') do %>
        <i class="fa-solid fa-plus"></i>
        <span><% t('.new.title') %></span>
      <% end %>
    </div>
  </td>
</tr>
<% model.menus.each do |menu| %>
  <%= render partial: 'menu_tbody', layout: 'menu_tr', locals: { model: menu } %>
<% end %>
<% model.menu_apps.where(appid: @app.appid, menu_id: nil).each do |menu_app| %>
  <%= render partial: 'menu_app_tbody', layout: 'menu_app_tr', locals: { model: menu_app } %>
<% end %>
<% model.menu_root_apps.where(appid: @app.appid).each do |menu_root_app| %>
  <%= render partial: 'root_tbody', layout: 'root_app_tr', locals: { model: menu_root_app } %>
<% end %>
