<tr>
  <td><%= Wechat::Receiver.human_attribute_name(:receiver_type) %></td>
  <td><%= @receiver.receiver_type %></td>
</tr>
<tr>
  <td><%= Wechat::Receiver.human_attribute_name(:account) %></td>
  <td><%= @receiver.account %></td>
</tr>
<tr>
  <td><%= Wechat::Receiver.human_attribute_name(:name) %></td>
  <td><%= @receiver.name %></td>
</tr>
<tr>
  <td><%= Wechat::Receiver.human_attribute_name(:relation_type) %></td>
  <td><%= @receiver.relation_type %></td>
</tr>
<tr>
  <td><%= Wechat::Receiver.human_attribute_name(:custom_relation) %></td>
  <td><%= @receiver.custom_relation %></td>
</tr>
