<div>
  <dt><%= Wechat::Receiver.human_attribute_name(:receiver_type) %></dt>
  <dd><%= @receiver.receiver_type %></dd>
</div>
<div>
  <dt><%= Wechat::Receiver.human_attribute_name(:account) %></dt>
  <dd><%= @receiver.account %></dd>
</div>
<div>
  <dt><%= Wechat::Receiver.human_attribute_name(:name) %></dt>
  <dd><%= @receiver.name %></dd>
</div>
<div>
  <dt><%= Wechat::Receiver.human_attribute_name(:relation_type) %></dt>
  <dd><%= @receiver.relation_type %></dd>
</div>
<div>
  <dt><%= Wechat::Receiver.human_attribute_name(:custom_relation) %></dt>
  <dd><%= @receiver.custom_relation %></dd>
</div>
