<td><%= model.name %></td>
<td>
  <p><%= model.uid %></p>
  <p class="has-text-grey"><%= model.unionid %></p>
</td>
<td>
  <% model.tags.each do |tag| %>
    <span class="tag"><%= tag.name %></span>
  <% end %>
</td>
<td><%= model.remark %></td>
<td>
  <p>
  <% if model.account %>
    <%= link_to model.identity, { controller: 'auth/panel/accounts', action: 'show', id: model.account.id }, data: { turbo_frame: 'modal' } %>
  <% else %>
    <%= model.identity %>
  <% end %>
  </p>
  <p><%= model.user&.id %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
