<tr>
  <td class="has-text-right"><%= Wechat::WechatUser.human_attribute_name(:name) %></td>
  <td><%= @wechat_user.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatUser.human_attribute_name(:uid) %></td>
  <td><%= @wechat_user.uid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatUser.human_attribute_name(:unionid) %></td>
  <td><%= @wechat_user.unionid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatUser.human_attribute_name(:identity) %></td>
  <td><%= @wechat_user.identity %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatUser.human_attribute_name(:user_id) %></td>
  <td><%= @wechat_user.user&.id %></td>
</tr>
