<tr>
  <td class="has-text-right"><%= WechatUser.human_attribute_name(:name) %></td>
  <td><%= @wechat_user.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatUser.human_attribute_name(:uid) %></td>
  <td><%= @wechat_user.uid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatUser.human_attribute_name(:unionid) %></td>
  <td><%= @wechat_user.unionid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatUser.human_attribute_name(:account_id) %></td>
  <td><%= @wechat_user.account_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatUser.human_attribute_name(:user_id) %></td>
  <td><%= @wechat_user.user_id %></td>
</tr>
