<%= render 'wechat_nav_user' %>
<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
    
    </tr>
  </thead>
  <tbody>
  <% @wechat_users.each do |wechat_user| %>
    <tr>
      <td><%= wechat_user.name %></td>
      <td><%= wechat_user.uid %></td>
      <td>
        <% wechat_user.wechat_tags.each do |wechat_tag| %>
          <span class="button is-small"><%= wechat_tag.name %></span>
        <% end %>
      </td>
      <td><%= wechat_user.remark %></td>
      <td><%= wechat_user.unionid %></td>
      <td><%= wechat_user.account_id %></td>
      <td><%= wechat_user.user_id %></td>
      <td>
        <%= link_to edit_admin_wechat_app_wechat_user_path(@wechat_app, wechat_user), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_users %>
