<div>
  <dt><%= Wechat::Developer.human_attribute_name(:name) %></dt>
  <dd><%= @developer.name %></dd>
</div>
<div>
  <dt><%= Wechat::Developer.human_attribute_name(:token) %></dt>
  <dd><%= @developer.token %></dd>
</div>
<div>
  <dt><%= Wechat::Developer.human_attribute_name(:encoding_aes_key) %></dt>
  <dd><%= @developer.encoding_aes_key %></dd>
</div>
