<tr>
  <td class="has-text-right"><%= Wechat::Developer.human_attribute_name(:name) %></td>
  <td><%= @developer.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Developer.human_attribute_name(:token) %></td>
  <td><%= @developer.token %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Developer.human_attribute_name(:encoding_aes_key) %></td>
  <td><%= @developer.encoding_aes_key %></td>
</tr>
