<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Wechat::WechatRegister.human_attribute_name(:id_name) %></th>
      <th><%= Wechat::WechatRegister.human_attribute_name(:id_number) %></th>
      <th>
        <%= link_to new_my_wechat_register_path, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_registers.each do |wechat_register| %>
    <tr>
      <td><%= wechat_register.id_name %></td>
      <td><%= wechat_register.id_number %></td>
      <td>
        <%= link_to my_wechat_register_path(wechat_register), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-info"></i>
        <% end %>
        <%= link_to edit_my_wechat_register_path(wechat_register), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to my_wechat_register_path(wechat_register), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_registers %>
