<div>
  <dt><%= Wechat::Contact.human_attribute_name(:user_id) %></dt>
  <dd><%= @contact.user_id %></dd>
</div>
<div>
  <dt><%= Wechat::Contact.human_attribute_name(:corp_id) %></dt>
  <dd><%= @contact.corp_id %></dd>
</div>
<div>
  <dt><%= Wechat::Contact.human_attribute_name(:part_id) %></dt>
  <dd><%= @contact.part_id %></dd>
</div>
<div>
  <dt><%= Wechat::Contact.human_attribute_name(:config_id) %></dt>
  <dd><%= @contact.config_id %></dd>
</div>
<div>
  <dt><%= Wechat::Contact.human_attribute_name(:qr_code) %></dt>
  <dd><%= @contact.qr_code %></dd>
</div>
<div>
  <dt><%= Wechat::Contact.human_attribute_name(:remark) %></dt>
  <dd><%= @contact.remark %></dd>
</div>
<div>
  <dt><%= Wechat::Contact.human_attribute_name(:skip_verify) %></dt>
  <dd><%= @contact.skip_verify %></dd>
</div>
