<tr>
  <td><%= Wechat::Contact.human_attribute_name(:user_id) %></td>
  <td><%= @contact.user_id %></td>
</tr>
<tr>
  <td><%= Wechat::Contact.human_attribute_name(:corp_id) %></td>
  <td><%= @contact.corp_id %></td>
</tr>
<tr>
  <td><%= Wechat::Contact.human_attribute_name(:part_id) %></td>
  <td><%= @contact.part_id %></td>
</tr>
<tr>
  <td><%= Wechat::Contact.human_attribute_name(:config_id) %></td>
  <td><%= @contact.config_id %></td>
</tr>
<tr>
  <td><%= Wechat::Contact.human_attribute_name(:qr_code) %></td>
  <td><%= @contact.qr_code %></td>
</tr>
<tr>
  <td><%= Wechat::Contact.human_attribute_name(:remark) %></td>
  <td><%= @contact.remark %></td>
</tr>
<tr>
  <td><%= Wechat::Contact.human_attribute_name(:skip_verify) %></td>
  <td><%= @contact.skip_verify %></td>
</tr>
