<th><%= Wechat::Response.human_attribute_name(:match_value) %></th>
<th><%= Wechat::Response.human_attribute_name(:contain) %></th>
<th>
  <p><%= Wechat::Response.human_attribute_name(:created_at) %></p>
  <p><%= Wechat::Response.human_attribute_name(:expire_at) %></p>
</th>
<th><%= Wechat::Response.human_attribute_name(:request_type) %></th>
<th>
  <%= Wechat::Response.human_attribute_name(:reply_id) %>
  <%= link_to({ controller: 'replies' }, aria: { label: t('wechat.admin.replies.index.title') }) do %>
    <i class="fa-light fa-cog"></i>
  <% end %>
</th>
