<th>
  <p><%= Wechat::Scene.human_attribute_name(:match_value) %></p>
  <p><%= Wechat::Scene.human_attribute_name(:qrcode_url) %></p>
</th>
<th>
  <p><%= Wechat::Scene.human_attribute_name(:created_at) %></p>
  <p class="text-success"><%= Wechat::Scene.human_attribute_name(:expire_at) %></p>
</th>
<th>
  <p class="text-primary"><%= Wechat::Scene.human_attribute_name(:env_version) %></p>
  <p><%= Wechat::Scene.human_attribute_name(:aim) %></p>
</th>
<th></th>