<li><%= link_to t('wechat.in.apps.index.title'), { controller: 'apps' } %></li>
<li><span class="px-3"><%= @app.name %></span></li>
<li><%= link_to t('wechat.in.scenes.index.title'), { controller: 'scenes' } %></li>
<li><span class="px-3"><%= @scene.match_value %></span></li>
<li class="is-active"><%= t('.title') %></li>
