<td><%= model.name %></td>
<td>
  <p><%= model.uid %></p>
  <p class="text-grey"><%= model.unionid %></p>
</td>
<td><%= model.remark %></td>
<td>
  <p><%= model.identity %></p>
  <p><%= model.user&.id %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
