<td><%= model.appid %></td>
<td>
  <pre><%= model.access_token %></pre>
  <p><time data-controller="time"><%= model.access_token_expires_at.to_fs(:iso8601) %></time></p>
  <pre><%= model.refresh_token %></pre>
</td>
<td><%= simple_format model.func_infos %></td>
<td>
  <p>
    <%= image_tag model.head_img, class: 'image is-24x24' if model.head_img %>
    <%= model.nick_name %>
  </p>
  <p><%= model.principal_name %></p>
  <p><%= model.user_name %></p>
  <p><%= model.alias_name %></p>
</td>
<td><%= image_tag model.qrcode_url, class: 'image is-128x128' if model.qrcode_url %></td>
