<td>
  <p class="is-several">
    <%= image_tag model.head_img, class: 'image is-24x24' if model.head_img %>
    <span><%= model.nick_name %></span>
    <% if model.default %>
      <i class="fa-solid fa-shield has-text-success"></i>
    <% end %>
  </p>
  <p class="has-text-grey"><%= model.appid %></p>
</td>
<td><%= simple_format model.disabled_func_infos %></td>
<td>
  <p><%= model.principal_name %></p>
  <p><%= model.user_name %></p>
  <p><%= model.alias_name %></p>
</td>
<td><%= image_tag model.file, class: 'image is-64x64' if model.file.attached? %></td>
