<tr id="tr_<%= model.id %>" data-depth="10" data-controller="tree show" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="<%= 'has-background-white-ter' %>">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden">
      <%= link_to({ controller: 'menus', action: 'new', menu_root_id: model.id, appid: @app.appid }, data: { turbo_frame: 'modal' }, class: 'button is-small is-link') do %>
        <i class="fa-solid fa-plus"></i>
        <span><% t('.new') %></span>
      <% end %>
    </div>
  </td>
</tr>
<% model.menus.where(default_platform_params).each do |child| %>
  <%= render partial: 'index_tbody', layout: 'index_tr', locals: { model: child } %>
<% end if false %>
