<th>
  <p><%= Wechat::TemplateKeyWord.human_attribute_name(:name) %></p>
  <p class="text-grey"><%= Wechat::TemplateKeyWord.human_attribute_name(:kid) %></p>
</th>
<th><%= Wechat::TemplateKeyWord.human_attribute_name(:note) %></th>
<th><%= Wechat::TemplateKeyWord.human_attribute_name(:mapping) %></th>
<th><%= Wechat::TemplateKeyWord.human_attribute_name(:rule) %></th>
<th><%= Wechat::TemplateKeyWord.human_attribute_name(:example) %></th>
<th><%= Wechat::TemplateKeyWord.human_attribute_name(:color) %></th>
