<tr>
  <td class="has-text-right"><%= Wechat::Notice.human_attribute_name(:id) %></td>
  <td><%= @notice.id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Notice.human_attribute_name(:template_id) %></td>
  <td><%= @notice.template_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Notice.human_attribute_name(:open_id) %></td>
  <td><%= @notice.open_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Notice.human_attribute_name(:data) %></td>
  <td><%= simple_format @notice.data %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Notice.human_attribute_name(:result) %></td>
  <td><%= simple_format @notice.result %></td>
</tr>
