<div>
  <dt><%= Wechat::Notice.human_attribute_name(:id) %></dt>
  <dd><%= @notice.id %></dd>
</div>
<div>
  <dt><%= Wechat::Notice.human_attribute_name(:template_id) %></dt>
  <dd><%= @notice.template_id %></dd>
</div>
<div>
  <dt><%= Wechat::Notice.human_attribute_name(:open_id) %></dt>
  <dd><%= @notice.open_id %></dd>
</div>
<div>
  <dt><%= Wechat::Notice.human_attribute_name(:data) %></dt>
  <dt><%= simple_format @notice.data %></dd>
</div>
<div>
  <dt><%= Wechat::Notice.human_attribute_name(:result) %></dt>
  <dt><%= simple_format @notice.result %></dd>
</div>
