<tr>
  <td class="has-text-right"><%= WechatReply.human_attribute_name(:type) %></td>
  <td><%= @wechat_reply.type_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatReply.human_attribute_name(:value) %></td>
  <td><%= @wechat_reply.value %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatReply.human_attribute_name(:body) %></td>
  <td><%= @wechat_reply.body %></td>
</tr>
