<th>
  <%= Wechat::Provider.human_attribute_name(:name) %>
</th>
<th>
  <p><%= Wechat::Provider.human_attribute_name(:corp_id) %></p>
  <p><%= Wechat::Provider.human_attribute_name(:provider_secret) %></p>
  <p><%= Wechat::Provider.human_attribute_name(:token) %></p>
  <p><%= Wechat::Provider.human_attribute_name(:encoding_aes_key) %></p>
</th>
