<td><%= model.name %></td>
<td><%= model.corp_id %></td>
<td><%= model.provider_secret %></td>
<td><%= model.suite_id %></td>
<td><%= model.secret %></td>
<td><%= model.token %></td>
<td><%= model.encoding_aes_key %></td>
