<div>
  <dt><%= TemplateKeyWord.human_attribute_name(:name) %></dt>
  <dd><%= @template_key_word.name %></dd>
</div>
<div>
  <dt><%= TemplateKeyWord.human_attribute_name(:kid) %></dt>
  <dd><%= @template_key_word.kid %></dd>
</div>
<div>
  <dt><%= TemplateKeyWord.human_attribute_name(:mapping) %></dt>
  <dd><%= @template_key_word.mapping %></dd>
</div>
<div>
  <dt><%= TemplateKeyWord.human_attribute_name(:rule) %></dt>
  <dd><%= @template_key_word.rule %></dd>
</div>
<div>
  <dt><%= TemplateKeyWord.human_attribute_name(:example) %></dt>
  <dd><%= @template_key_word.example %></dd>
</div>
<div>
  <dt><%= TemplateKeyWord.human_attribute_name(:color) %></dt>
  <dd><%= @template_key_word.color %></dd>
</div>
