<tr>
  <td class="has-text-right"><%= TemplateKeyWord.human_attribute_name(:name) %></td>
  <td><%= @template_key_word.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TemplateKeyWord.human_attribute_name(:kid) %></td>
  <td><%= @template_key_word.kid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TemplateKeyWord.human_attribute_name(:mapping) %></td>
  <td><%= @template_key_word.mapping %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TemplateKeyWord.human_attribute_name(:rule) %></td>
  <td><%= @template_key_word.rule %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TemplateKeyWord.human_attribute_name(:example) %></td>
  <td><%= @template_key_word.example %></td>
</tr>
<tr>
  <td class="has-text-right"><%= TemplateKeyWord.human_attribute_name(:color) %></td>
  <td><%= @template_key_word.color %></td>
</tr>
