<td><%= model.type_i18n %></td>
<td><%= model.name %></td>
<td>
  <%= content_tag :dl do %>
    <dt data-show-target="item" class="has-text-grey" style="visibility: hidden"><%= Wechat::WechatApp.human_attribute_name(:appid) %></dt>
    <dd><%= model.appid %></dd>
  <% end if model.appid.present? %>
  <%= content_tag :dl do %>
    <dt data-show-target="item" class="has-text-grey" style="visibility: hidden"><%= Wechat::WechatApp.human_attribute_name(:agentid) %></dt>
    <dd><%= model.agentid %></dd>
  <% end if model.agentid.present? %>
  <%= content_tag :dl do %>
    <dt data-show-target="item" class="has-text-grey" style="visibility: hidden"><%= Wechat::WechatApp.human_attribute_name(:mch_id) %></dt>
    <dd><%= model.mch_id %></dd>
  <% end if model.mch_id.present? %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :wechat_app, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :encrypt_mode, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :wechat_app, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= link_to({ controller: 'wechat_menus', appid: model.appid }, aria: { label: t('wechat.share.wechat_menus.index.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fas fa-bars"></i>
  <% end %>
  <%= link_to admin_wechat_app_wechat_requests_path(model), aria: { label: t('wechat.admin.wechat_requests.index.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fas fa-comments"></i>
  <% end %>
  <%= link_to admin_wechat_app_wechat_tags_path(model), aria: { label: t('wechat.admin.wechat_tags.index.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fas fa-user-tag"></i>
  <% end %>
</td>
