<tr>
  <td><%= Wechat::CorpUser.human_attribute_name(:userid) %></td>
  <td><%= @corp_user.userid %></td>
</tr>
<tr>
  <td><%= Wechat::CorpUser.human_attribute_name(:corpid) %></td>
  <td><%= @corp_user.corpid %></td>
</tr>
<tr>
  <td><%= Wechat::CorpUser.human_attribute_name(:device_id) %></td>
  <td><%= @corp_user.device_id %></td>
</tr>
<tr>
  <td><%= Wechat::CorpUser.human_attribute_name(:open_userid) %></td>
  <td><%= @corp_user.open_userid %></td>
</tr>
