<div>
  <dt><%= Wechat::CorpUser.human_attribute_name(:userid) %></dt>
  <dd><%= @corp_user.userid %></dd>
</div>
<div>
  <dt><%= Wechat::CorpUser.human_attribute_name(:corpid) %></dt>
  <dd><%= @corp_user.corpid %></dd>
</div>
<div>
  <dt><%= Wechat::CorpUser.human_attribute_name(:device_id) %></dt>
  <dd><%= @corp_user.device_id %></dd>
</div>
<div>
  <dt><%= Wechat::CorpUser.human_attribute_name(:open_userid) %></dt>
  <dd><%= @corp_user.open_userid %></dd>
</div>
