<div class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd">
    <% if request.wechat_user.avatar_url.present? %>
      <%= image_tag request.wechat_user.avatar_url, class: 'weui-media-box__thumb' %>
    <% else %>
      <%= image_tag 'avatar.png', class: 'weui-media-box__thumb' %>
    <% end %>
  </div>
  <div class="weui-media-box__bd">
    <h4 class="weui-media-box__title">
      <span><%= request.wechat_user.name %></span>
      <span class="weui-badge"><%= request.type_i18n %></span>
      <% if request.wechat_user.user_inviter_id == current_user.id && request.init_wechat_user %>
        <span class="tag is-success">邀请成功</span>
      <% end %>
    </h4>
    <p class="weui-media-box__info">
      <span><%= request.init_wechat_user_i18n %></span>
      <time data-controller="time" data-format="human"><%= request.wechat_user.created_at.to_fs(:iso8601) %></time>
    </p>
    <p class="weui-media-box__info">
      <span><%= Wechat::Request.human_attribute_name(:created_at) %></span>
      <time data-controller="time" data-format="human"><%= request.created_at.to_fs(:iso8601) %></time>
    </p>
  </div>
</div>
