<%= render 'head' %>

<div class="weui-panel mt-0" style="padding-top: 1px">
  <div class="weui-panel__bd">
    <div class="weui-cells mt-0">
    <% if @requests.blank? %>
      <%= render partial: 'gift_content' %>
    <% else %>
      <%= render partial: 'request', collection: @requests, as: :request %>
    <% end %>
    </div>
  </div>
</div>

<%= paginate @requests, window: 1 %>

<div
  data-controller="wx-timeline"
  data-wx-timeline-options-value="<%= current_js_app.js_config(request.original_url).to_json %>"
  data-wx-timeline-apis-value="<%= ['updateTimelineShareData'].to_json %>"
  data-wx-timeline-title-value="分享有礼"
  data-wx-timeline-link-value="<%= request.original_url %>"
  data-wx-timeline-image-value="https://static.meal.design/assets/logo_reverse.f19dcfe0.png"
>

</div>
