<div class="box">
  <p class="has-text-centered"><%= current_user.name %></p>
  <figure class="image">
    <%= image_tag @scene.qrcode_file_url if @scene %>
  </figure>
</div>
<div class="weui-panel" style="padding-top: 1px">
  <div class="weui-panel__hd p-0">
    <div class="weui-navbar">
      <%= link_to({ action: 'invite_qrcode' }, class: 'weui-navbar__item') do %>
        邀请列表
      <% end %>
      <%= link_to({ action: 'requests' }, class: 'weui-navbar__item weui-bar__item_on') do %>
        邀请记录
      <% end %>
    </div>
  </div>
  <div class="weui-panel__bd">
    <div class="weui-cells mt-0">
    <% @requests.each do |request| %>
      <div class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
        <% if request.wechat_user && request.wechat_user.avatar_url.present? %>
          <%= image_tag request.wechat_user.avatar_url, class: 'weui-media-box__thumb' %>
        <% end %>
        </div>
        <div class="weui-media-box__bd">
          <h4 class="weui-media-box__title">
            <span><%= request.wechat_user.name %></span>
            <span class="weui-badge"><%= request.type_i18n %></span>
          </h4>
          <ul class="weui-media-box__info">
            <li class="weui-media-box__info__meta"><%= request.init_wechat_user_i18n %></li>
            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra"><time data-controller="time"><%= request.created_at.to_s(:rfc822) %></time></li>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= paginate @requests, window: 1 %>
