<div>
  <dt><%= Wechat::App.human_attribute_name(:type) %></dt>
  <dd><%= @app.type_i18n %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:platform_appid) %></dt>
  <dd><%= @app.platform_appid %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:logo) %></dt>
  <dt><%= image_tag @app.logo.url, class: 'image' if @app.logo.attached? %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:enabled) %></dt>
  <dd><%= @app.enabled %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:appid) %></dt>
  <dd><%= @app.appid %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:secret) %></dt>
  <dd><%= @app.secret %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:encrypt_mode) %></dt>
  <dd><%= @app.encrypt_mode %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:encoding_aes_key) %></dt>
  <dd><%= @app.encoding_aes_key %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:token) %></dt>
  <dd><%= @app.token %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:debug) %></dt>
  <dd><%= @app.debug %></dd>
</div>
<div>
  <dt><%= Wechat::App.human_attribute_name(:created_at) %></dt>
  <dd><time data-controller="time"><%= @app.created_at.to_fs(:iso8601) %></time></dd>
</div>
