<div class="weui-panel is-box">
  <div class="has-text-centered">
    <div class="is-several">
      <%= image_tag current_user.avatar, class: 'image is-24x24' if current_user.avatar.attached? %>
      <span><%= current_user.name %></span>
    </div>
  </div>
  <figure class="image">
    <%= image_tag @scene.qrcode_data_url if @scene %>
  </figure>
</div>

<% if request.variant.include?(:wechat) && request.variant.exclude?(:mini_program) %>
<div class="weui-panel">
  <div class="weui-panel__bd">
    <div class="weui-cells">
      <div
        class="weui-cell weui-cell_active weui-cell_access"
        data-controller="mask wx-share"
        data-mask-id-value="mask"
        data-wx-share-title-value="分享有礼"
        data-wx-share-desc-value="测试下描述"
        data-wx-share-link-value="<%= url_for(controller: '/home', invite_code: @scene.id, only_path: false) %>"
        data-wx-share-image-value="<%= image_url('logo.png') %>"
        data-action="click->mask#show click->wx-share#ready"
      >
        <div class="weui-cell__bd weui-cell_primary">分享好友/发个朋友圈</div>
        <div class="weui-cell__ft"></div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="weui-navbar mt-4">
  <%= link_to '邀请记录', { action: 'invite_qrcode' }, class: active_helper(action: 'invite_qrcode', item: 'weui-navbar__item is-size-7', active: 'weui-navbar__item weui-bar__item_on is-size-7') %>
  <%= link_to '邀请有礼', { action: 'gift' }, class: active_helper(action: 'gift', item: 'weui-navbar__item is-size-7', active: 'weui-navbar__item weui-bar__item_on is-size-7') %>
</div>
