<td>
  <p>
    <span><%= model.name %></span>
    <span class="tag is-danger"><%= model.type_i18n %></span>
  </p>
  <p class="text-grey"><%= model.organ&.name %></p>
</td>
<td><%= model.appid %></td>
<td>
<% if @appids.include?(model.appid) %>
  <span class="tag is-success">已开通</span>
<% else %>
  <%= button_to({ action: 'sync' }, params: { appid: model.appid }, class: 'button is-small is-rounded is-danger') do %>
    <i class="fa-solid fa-rotate"></i>
    <span class="pl-1">开通</span>
  <% end %>
<% end %>
</td>
