<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.admin.apps.index.title'), { controller: 'apps' } %></li>
    <li><%= link_to @app.name, { controller: 'apps', id: @app.id } %></li>
    <li><%= link_to t('wechat.share.scenes.index.title'), { controller: 'scenes' } %></li>
    <li><%= link_to @scene.match_value, { controller: 'scenes', id: @scene.id } %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
