<th><%= Wechat::Menu.human_attribute_name(:menu_type) %></th>
<th><%= Wechat::Menu.human_attribute_name(:name) %></th>
<th><%= Wechat::Menu.human_attribute_name(:value) %></th>
<th>
  <p><%= Wechat::Menu.human_attribute_name(:mp_appid) %></p>
  <p><%= Wechat::Menu.human_attribute_name(:mp_pagepath) %></p>
</th>
<th><%= Wechat::Menu.human_attribute_name(:position) %></th>
<th></th>
<th></th>
