<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_panel_wechat_config_wechat_feedback_path(@wechat_config, @wechat_feedback), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= WechatFeedback.human_attribute_name(:wechat_user_id) %></td>
      <td>
        <% if @wechat_feedback.wechat_user.user %>
          <%= link_to @wechat_feedback.wechat_user.user.name, admin_user_path(@wechat_feedback.wechat_user.user_id) %>
        <% else %>
          <%= link_to @wechat_feedback.wechat_user.name, admin_user_path(@wechat_feedback.wechat_user.name) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td class="right aligned"><%= WechatFeedback.human_attribute_name(:body) %></td>
      <td><%= @wechat_feedback.body %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= WechatFeedback.human_attribute_name(:feedback_on) %></td>
      <td><%= @wechat_feedback.feedback_on %></td>
    </tr>
  </tbody>
</table>
