<td>
  <p class="is-several">
    <%= image_tag model.head_img, class: 'image is-24x24' if model.head_img %>
    <span><%= model.nick_name %></span>
    <% if [model.platform.public_agency_id].include?(model.id) %>
      <i class="fa-solid fa-shield color-success"></i>
    <% end %>
  </p>
  <p class="color-grey"><%= model.appid %></p>
  <p class="color-grey"><%= model.domain %></p>
</td>
<td>
  <p><%= model.disabled_func_infos.join(',') %></p>
</td>
<td>
  <p><%= model.principal_name %></p>
  <p><%= model.user_name %></p>
  <p><%= model.alias_name %></p>
</td>
