<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info text-info"></i>
      <% end %>
      <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil text-link"></i>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
        <i class="fa-solid fa-trash text-danger"></i>
      <% end %>
    </div>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'receives', platform_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-message"></i>
        <span class="ml-1"><%= t('.receives.index.title') %></span>
      <% end %>
      <%= link_to({ controller: 'platform_templates', platform_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-paperclip"></i>
        <span class="ml-1"><%= t('.platform_templates.index.title') %></span>
      <% end %>
      <%= button_to({ action: 'agency', id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil text-info"></i>
        <span class="pl-1"><%= t('.agency.title') %></span>
      <% end %>
      <%= button_to({ action: 'info', id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-cogs text-primary"></i>
        <span class="pl-1"><%= t('.info.title') %></span>
      <% end %>
    </div>
    <div data-show-target="item" class="visibility-hidden">
      <%= link_to({ controller: 'agencies', platform_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-door-open text-warning"></i>
        <span class="pl-1"><%= t('.agencies.index.title') %></span>
      <% end %>
      <%= link_to({ controller: 'program_agencies', platform_id: model.id }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-door-open text-success"></i>
        <span class="pl-1"><%= t('.program_agencies.index.title') %></span>
      <% end %>
      <%= link_to model.auth_url, target: '_blank', class: 'button is-small is-rounded is-light' do %>
        <i class="fa-solid fa-vial text-success"></i>
        <span class="pl-1">测试授权</span>
      <% end if model.auth_url %>
    </div>
  </td>
</tr>
