<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.domain %></p>
</td>
<td>
  <p><%= model.appid %></p>
</td>
<td>
  <p><%= model.public_agency&.appid %></p>
  <p><%= model.program_agency&.appid %></p>
</td>
