<th style="width: calc(1.5em + 35ch)">
  <p><%= Crm::Maintain.human_attribute_name(:external_userid) %></p>
  <p class="has-text-grey"><%= Crm::Maintain.human_attribute_name(:corp_id) %></p>
</th>
<th>
  <p><%= Crm::Maintain.human_attribute_name(:name) %></p>
  <p><%= Crm::Maintain.human_attribute_name(:gender) %></p>
</th>
<th>
  <p><%= Crm::Maintain.human_attribute_name(:member_id) %></p>
  <p><%= Crm::Maintain.human_attribute_name(:oper_userid) %></p>
</th>
