<td>
  <p class="has-text-mono"><%= model.external_userid %></p>
  <p class="has-text-mono has-text-grey"><%= model.pending_id %></p>
</td>
<td>
  <p>
    <span><%= model.name %></span>
    <span class="tag"><%= model.add_way_i18n %></span>
  </p>
  <p><%= model.client.gender_i18n %></p>
</td>
<td>
  <p><%= model.member.name %></p>
</td>
