<div>
  <dt><%= Org::Organ.human_attribute_name(:name) %></dt>
  <dd><%= @organ.name %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:limit_wechat_menu) %></dt>
  <dd><%= @organ.limit_wechat_menu %></dd>
</div>
<div>
  <dt><%= Org::Organ.human_attribute_name(:appid) %></dt>
  <dd><%= @organ.appid %></dd>
</div>
