<td><%= model.name %></td>
<td>
  <p class="has-text-success"><%= model.prefix.inspect if model.prefix %></p>
  <p class="has-text-danger"><%= model.suffix.inspect if model.suffix %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :more, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <p><%= model.start_at.to_fs(:time) if model.start_at %></p>
  <p><%= model.finish_at.to_fs(:time) if model.finish_at %></p>
</td>
<td>
  <p class="has-text-success"><%= model.valid_response %></p>
  <p class="has-text-danger"><%= model.invalid_response %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :serial, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
  <p><%= model.serial_start %></p>
</td>
