<div>
  <dt><%= Medium.human_attribute_name(:source_type) %></dt>
  <dd><%= @medium.source_type %></dd>
</div>
<div>
  <dt><%= Medium.human_attribute_name(:source_id) %></dt>
  <dd><%= @medium.source_id %></dd>
</div>
<div>
  <dt><%= Medium.human_attribute_name(:media_id) %></dt>
  <dd><%= @medium.media_id %></dd>
</div>
<div>
  <dt><%= Medium.human_attribute_name(:attachment_name) %></dt>
  <dd><%= @medium.attachment_name %></dd>
</div>
<div>
  <dt><%= Medium.human_attribute_name(:appid) %></dt>
  <dd><%= @medium.appid %></dd>
</div>
