<tr>
  <td><%= Medium.human_attribute_name(:source_type) %></td>
  <td><%= @medium.source_type %></td>
</tr>
<tr>
  <td><%= Medium.human_attribute_name(:source_id) %></td>
  <td><%= @medium.source_id %></td>
</tr>
<tr>
  <td><%= Medium.human_attribute_name(:media_id) %></td>
  <td><%= @medium.media_id %></td>
</tr>
<tr>
  <td><%= Medium.human_attribute_name(:attachment_name) %></td>
  <td><%= @medium.attachment_name %></td>
</tr>
<tr>
  <td><%= Medium.human_attribute_name(:appid) %></td>
  <td><%= @medium.appid %></td>
</tr>
