<div>
  <dt><%= Wechat::Tag.human_attribute_name(:name) %></dt>
  <dd><%= @tag.name %></dd>
</div>
<div>
  <dt><%= Wechat::Tag.human_attribute_name(:tag_id) %></dt>
  <dd><%= @tag.tag_id %></dd>
</div>
<div>
  <dt><%= Wechat::Tag.human_attribute_name(:count) %></dt>
  <dd><%= @tag.count %></dd>
</div>
