<tr>
  <td class="has-text-right"><%= Wechat::Tag.human_attribute_name(:name) %></td>
  <td><%= @tag.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Tag.human_attribute_name(:tag_id) %></td>
  <td><%= @tag.tag_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Tag.human_attribute_name(:count) %></td>
  <td><%= @tag.count %></td>
</tr>
