<td><%= model.type_i18n %></td>
<td>
  <% if model.is_a?(Wechat::NewsReply) %>
    <% model.news_reply_items.each do |item| %>
      <article class="media">
        <div class="media-content">
          <p><%= item.title %></p>
          <p><%= item.description %></p>
          <p><%= item.url %></p>
        </div>
        <div class="media-right">
          <%= image_tag item.pic_url, class: 'image is-64x64' if item.pic_url.present? %>
          <%= button_to({ controller: 'news_reply_items', action: 'destroy', reply_id: model.id, id: item.id }, method: :delete) do %>
            <i class="fa-regular fa-times"></i>
          <% end %>
        </div>
      </article>
    <% end %>
    <article class="media">
      <div class="content">
        <%= link_to({ action: 'add', id: model.id }, data: { turbo_frame: 'modal' }) do %>
          <%= svg_tag 'plus' %><span><%= t('.add') %></span>
        <% end %>
      </div>
    </article>
  <% else %>
    <%= model.value %>
  <% end %>
</td>
