<tr>
  <td><%= Wechat::Reply.human_attribute_name(:type) %></td>
  <td><%= @reply.type_i18n %></td>
</tr>
<tr>
  <td><%= Wechat::Reply.human_attribute_name(:value) %></td>
  <td><%= @reply.value %></td>
</tr>
<tr>
  <td><%= Wechat::Reply.human_attribute_name(:body) %></td>
  <td><%= @reply.body %></td>
</tr>
