<div>
  <dt><%= Wechat::Reply.human_attribute_name(:type) %></dt>
  <dd><%= @reply.type_i18n %></dd>
</div>
<div>
  <dt><%= Wechat::Reply.human_attribute_name(:value) %></dt>
  <dd><%= @reply.value %></dd>
</div>
<div>
  <dt><%= Wechat::Reply.human_attribute_name(:body) %></dt>
  <dd><%= @reply.body %></dd>
</div>
