<td>
  <span class="pl-4"><%= model.name %></span>
  <span class="tag"><%= model.type_i18n %></span>
</td>
<td><%= model.value %></td>
<td>
  <p><%= model.mp_appid %></p>
  <p><%= model.mp_pagepath %></p>
</td>
<td><%= model.position %></td>
