<tr id="tr_<%= model.id %>" data-depth="10" data-controller="show tree" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="background-light">
  <%= yield %>
  <td>
    <div data-show-target="item" class="visibility-hidden">
      <%= button_to({ controller: 'menu_roots', action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
        <i class="fa-solid fa-pencil text-info"></i>
      <% end %>
      <%= button_to({ controller: 'menu_roots', action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
        <%= svg_tag 'trash', class: 'icon text-danger' %>
      <% end %>
    </div>
  </td>
</tr>
<% model.menus.each do |child| %>
  <%= render partial: 'index_tbody', layout: 'index_tr', locals: { model: child } %>
<% end %>
<tr>
  <td colspan="5">
    <%= button_to({ action: 'new', menu_root_id: model.id }, class: 'pl-4') do %>
      <i class="fa-solid fa-plus"></i>
      <span><% t('.new.title') %></span>
    <% end %>
  </td>
</tr>
