<tr id="tr_<%= model.id %>" data-depth="10" data-controller="show tree" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="background-light">
  <%= yield %>
</tr>
<% model.menus.each do |child| %>
  <%= render partial: 'index_tbody', layout: 'index_tr', locals: { model: child } %>
<% end %>
<tr>
  <td colspan="5">
    <%= button_to({ action: 'new', menu_root_id: model.id }, class: 'pl-4') do %>
      <%= svg_tag 'plus' %>
      <span class="ml-1"><%= t('.new.title') %></span>
    <% end %>
  </td>
</tr>
