<td>
  <p><%= model.user_id %></p>
  <p><%= model.info_type %></p>
  <p><%= model.event %></p>
  <p><%= model.event_key %></p>
</td>
<td><%= simple_format model.message_hash %></td>
<td><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></td>
