<h2 class="title has-text-centered">
  <%= @app.name %>
</h2>

<div class="tabs">
  <ul>
    <li class="<%= active_helper(products: ['show', 'edit'], active: 'is-active') %>">
      <%= link_to t('.apps.show.title'), { controller: 'apps', action: 'show', appid: @app.appid } %>
    </li>
    <li class="<%= active_helper(controllers: 'requests', active: 'is-active') %>">
      <%= link_to t('.requests.index.title'), { controller: 'requests', app_appid: @app.appid } %>
    </li>
  </ul>
</div>
