<%= render 'shared/error_messages', target: @wechat_config %>
<%= f.select :type, options_for_select(WechatConfig.options_i18n(:type), @wechat_config.type) %>
<%= f.text_field :name %>
<%= f.text_field :appid %>
<%= f.text_field :secret %>
<%= f.check_box :encrypt_mode %>
<h4 class="ui dividing center aligned header">微信支付</h4>
<%= f.text_field :mch_id %>
<%= f.text_field :key %>
<h4 class="ui dividing center aligned header">企业微信</h4>
<%= f.text_field :agentid %>
<h4 class="ui dividing center aligned header">其他</h4>
<%= f.collection_select :extractor_ids, @extractors, :id, :name, {}, { multiple: true } %>
<%= f.submit %>
