<div class="ui modal" id="modal">
  <i class="fas fa-times close icon"></i>
  <div class="ui header blue">
    <%= t('.title') %>
  </div>

  <div class="content">
    <table class="ui very basic large table">
      <tbody>
        <tr>
          <td class="right aligned"><%= WechatConfig.human_attribute_name(:url) %></td>
          <td><%= @wechat_config.url %></td>
        </tr>
        <tr>
          <td class="right aligned"><%= WechatConfig.human_attribute_name(:token) %></td>
          <td><%= @wechat_config.token %></td>
        </tr>
        <tr>
          <td class="right aligned"><%= WechatConfig.human_attribute_name(:encoding_aes_key) %></td>
          <td><%= @wechat_config.encoding_aes_key %></td>
        </tr>
        <tr>
          <td class="right aligned"><%= WechatConfig.human_attribute_name(:encrypt_mode) %></td>
          <td><%= @wechat_config.encrypt_mode_i18n %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
