<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= WechatConfig.human_attribute_name(:type) %></th>
      <th><%= WechatConfig.human_attribute_name(:name) %></th>
      <th>
        <p><%= WechatConfig.human_attribute_name(:appid) %></p>
        <p><%= WechatConfig.human_attribute_name(:secret) %></p>
        <p><%= WechatConfig.human_attribute_name(:agentid) %></p>
      </th>
      <th><%= WechatConfig.human_attribute_name(:encrypt_mode) %></th>
      <th>
        <p><%= WechatConfig.human_attribute_name(:help) %></p>
        <p><%= WechatConfig.human_attribute_name(:help_without_user) %></p>
        <p><%= WechatConfig.human_attribute_name(:help_user_disabled) %></p>
        <p><%= WechatConfig.human_attribute_name(:help_feedback) %></p>
      </th>
      <th><%= WechatConfig.human_attribute_name(:enabled) %></th>
      <th><%= WechatConfig.human_attribute_name(:primary) %></th>
      <th></th>
      <th>
        <%= link_to new_admin_wechat_config_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><% t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_configs.each do |wechat_config| %>
    <tr>
      <td><%= wechat_config.type_i18n %></td>
      <td><%= wechat_config.name %></td>
      <td>
        <p><%= wechat_config.appid %></p>
        <p><%= wechat_config.secret %></p>
        <p><%= wechat_config.agentid %></p>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[wechat_config]encrypt_mode', nil, wechat_config.encrypt_mode, data: { method: :patch, remote: true, url: admin_wechat_config_path(wechat_config), submit: true }, id: nil %>
        </div>
      </td>
      <td>
        <p><%= wechat_config.help %></p>
        <p><%= wechat_config.help_without_user %></p>
        <p><%= wechat_config.help_user_disabled %></p>
        <p><%= wechat_config.help_feedback %></p>
        <%= link_to help_admin_wechat_config_path(wechat_config), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
      </td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[wechat_config]enabled', nil, wechat_config.enabled, data: { method: :patch, remote: true, url: admin_wechat_config_path(wechat_config), submit: true }, id: nil %>
        </div>
      </td>
      <td>
        <div class="ui toggle checkbox <%= active_assert(wechat_config.primary, expected: 'disabled', unexpected: '') %>">
          <%= check_box_tag '[wechat_config]primary', nil, wechat_config.primary, data: { method: :patch, remote: true, url: admin_wechat_config_path(wechat_config), submit: true }, id: nil %>
        </div>
      </td>
      <td>
        <%= link_to admin_wechat_menus_path(wechat_config_id: wechat_config.id), data: { tooltip: t('wechat.admin.wechat_menus.index.title') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-bars"></i>
        <% end %>
        <%= link_to admin_wechat_config_wechat_responses_path(wechat_config), data: { tooltip: t('wechat.admin.wechat_responses.index.title') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-reply-all"></i>
        <% end %>
        <%= link_to admin_wechat_config_wechat_feedbacks_path(wechat_config), data: { tooltip: t('wechat.admin.wechat_feedbacks.index.title') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-comments"></i>
        <% end %>
      </td>
      <td>
        <%= link_to info_admin_wechat_config_path(wechat_config), data: { tooltip: t('.info') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-cog"></i>
        <% end %>
        <%= link_to admin_wechat_config_path(wechat_config), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_wechat_config_path(wechat_config), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_wechat_config_path(wechat_config), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
