<td><%= model.name %></td>
<td><%= model.prefix.inspect if model.prefix %></td>
<td><%= model.suffix.inspect if model.suffix %></td>
<td>
  <div data-controller="input">
    <%= check_box_tag '[model]more', nil, model.more, data: { method: :patch, url: admin_wechat_response_wechat_extractor_path(@wechat_response, model), submit: true }, id: nil %>
  </div>
</td>
<td>
  <p><%= model.start_at.to_s(:time) if model.start_at %></p>
  <p><%= model.finish_at.to_s(:time) if model.finish_at %></p>
</td>
<td>
  <p class="has-text-success"><%= model.valid_response %></p>
  <p class="has-text-danger"><%= model.invalid_response %></p>
</td>
<td>
  <div>
    <div data-controller="input">
      <%= check_box_tag '[model]serial', nil, model.serial, data: { method: :patch, url: admin_wechat_response_wechat_extractor_path(@wechat_response, model), submit: true }, id: nil %>
    </div>
  </div>
  <p><%= model.serial_start %></p>
</td>
