<th><%= Wechat::WechatExtractor.human_attribute_name(:name) %></th>
<th><%= Wechat::WechatExtractor.human_attribute_name(:prefix) %></th>
<th><%= Wechat::WechatExtractor.human_attribute_name(:suffix) %></th>
<th><%= Wechat::WechatExtractor.human_attribute_name(:more) %></th>
<th>
  <p><%= Wechat::WechatExtractor.human_attribute_name(:start_at) %></p>
  <p><%= Wechat::WechatExtractor.human_attribute_name(:finish_at) %></p>
</th>
<th>
  <p class="has-text-success"><%= Wechat::WechatExtractor.human_attribute_name(:valid_response) %></p>
  <p class="has-text-danger"><%= Wechat::WechatExtractor.human_attribute_name(:invalid_response) %></p>
</th>
<th>
  <p><%= Wechat::WechatExtractor.human_attribute_name(:serial) %></p>
  <p><%= Wechat::WechatExtractor.human_attribute_name(:serial_start) %></p>
</th>
<th></th>
