<th><%= WechatExtractor.human_attribute_name(:name) %></th>
<th><%= WechatExtractor.human_attribute_name(:prefix) %></th>
<th><%= WechatExtractor.human_attribute_name(:suffix) %></th>
<th><%= WechatExtractor.human_attribute_name(:more) %></th>
<th>
  <p><%= WechatExtractor.human_attribute_name(:start_at) %></p>
  <p><%= WechatExtractor.human_attribute_name(:finish_at) %></p>
</th>
<th>
  <p class="has-text-success"><%= WechatExtractor.human_attribute_name(:valid_response) %></p>
  <p class="has-text-danger"><%= WechatExtractor.human_attribute_name(:invalid_response) %></p>
</th>
<th>
  <p><%= WechatExtractor.human_attribute_name(:serial) %></p>
  <p><%= WechatExtractor.human_attribute_name(:serial_start) %></p>
</th>
<th></th>
