<tr>
  <td><%= wechat_extractor.name %></td>
  <td><%= wechat_extractor.prefix.inspect if wechat_extractor.prefix %></td>
  <td><%= wechat_extractor.suffix.inspect if wechat_extractor.suffix %></td>
  <td>
    <div class="ui toggle checkbox">
      <%= check_box_tag '[wechat_extractor]more', nil, wechat_extractor.more, data: { method: :patch, remote: true, url: admin_wechat_response_wechat_extractor_path(@wechat_response, wechat_extractor), submit: true }, id: nil %>
    </div>
  </td>
  <td>
    <p><%= wechat_extractor.start_at.to_s(:time) if wechat_extractor.start_at %></p>
    <p><%= wechat_extractor.finish_at.to_s(:time) if wechat_extractor.finish_at %></p>
  </td>
  <td>
    <p class="has-text-success"><%= wechat_extractor.valid_response %></p>
    <p class="has-text-danger"><%= wechat_extractor.invalid_response %></p>
  </td>
  <td>
    <div>
      <div class="ui toggle checkbox">
        <%= check_box_tag '[wechat_extractor]serial', nil, wechat_extractor.serial, data: { method: :patch, remote: true, url: admin_wechat_response_wechat_extractor_path(@wechat_response, wechat_extractor), submit: true }, id: nil %>
      </div>
    </div>
    <p><%= wechat_extractor.serial_start %></p>
  </td>
  <td>
    <%= link_to admin_wechat_response_wechat_extractor_path(@wechat_response, wechat_extractor), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to edit_admin_wechat_response_wechat_extractor_path(@wechat_response, wechat_extractor), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to admin_wechat_response_wechat_extractor_path(@wechat_response, wechat_extractor), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
