<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_extractor_path(@extractor), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= Extractor.human_attribute_name(:name) %></td>
      <td><%= @extractor.name %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Extractor.human_attribute_name(:prefix) %></td>
      <td><%= @extractor.prefix %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Extractor.human_attribute_name(:suffix) %></td>
      <td><%= @extractor.suffix %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Ticket.human_attribute_name(:serial_start) %></td>
      <td><%= @ticket.serial_start %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Ticket.human_attribute_name(:start_at) %></td>
      <td><%= @ticket.start_at %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Ticket.human_attribute_name(:finish_at) %></td>
      <td><%= @ticket.finish_at %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Ticket.human_attribute_name(:valid_response) %></td>
      <td><%= @ticket.valid_response %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= Ticket.human_attribute_name(:invalid_response) %></td>
      <td><%= @ticket.invalid_response %></td>
    </tr>
  </tbody>
</table>
