<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:name) %></td>
  <td><%= @extractor.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:prefix) %></td>
  <td><%= @extractor.prefix %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:suffix) %></td>
  <td><%= @extractor.suffix %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:serial_start) %></td>
  <td><%= @extractor.serial_start %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:start_at) %></td>
  <td><%= @extractor.start_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:finish_at) %></td>
  <td><%= @extractor.finish_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:valid_response) %></td>
  <td><%= @extractor.valid_response %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Extractor.human_attribute_name(:invalid_response) %></td>
  <td><%= @extractor.invalid_response %></td>
</tr>
