<th>
  <p><%= Wechat::Register.human_attribute_name(:id_name) %></p>
  <p><%= Wechat::Register.human_attribute_name(:id_number) %></p>
</th>
<th>
  <p><%= Wechat::Register.human_attribute_name(:email) %></p>
  <p><%= Wechat::Register.human_attribute_name(:email_code) %></p>
  <p class="color-danger"><%= Wechat::Register.human_attribute_name(:password) %></p>
</th>
<th>
  <p><%= Wechat::Register.human_attribute_name(:mobile) %></p>
  <p><%= Wechat::Register.human_attribute_name(:mobile_code) %></p>
</th>
<th>
  <p><%= Wechat::Register.human_attribute_name(:bind_qrcode) %></p>
  <p><%= Wechat::Register.human_attribute_name(:qrcode) %></p>
</th>
<th>
  <p><%= Wechat::Register.human_attribute_name(:state) %></p>
  <p><%= Wechat::Register.human_attribute_name(:appid) %></p>
</th>
<th><%= Wechat::Register.human_attribute_name(:created_at) %></th>
