<td>
  <p><%= model.client.external_userid %></p>
  <p class="text-grey"><%= model.client.unionid %></p>
</td>
<td><%= model.state_i18n %></td>
<td>
  <p><%= model.client.name %></p>
  <p class="text-grey"><%= model.remark %></p>
</td>
<td><%= model.client.gender_i18n %></td>
<td><%= model.add_way_i18n %></td>
