<tr>
  <td class="has-text-right"><%= Wechat::Payee.human_attribute_name(:name) %></td>
  <td><%= @payee_domain.payee.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Payee.human_attribute_name(:mch_id) %></td>
  <td><%= @payee_domain.payee.mch_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::PayeeDomain.human_attribute_name(:domain) %></td>
  <td><%= @payee_domain.domain %></td>
</tr>
