<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('wechat.admin.wechat_apps.index.title'), admin_wechat_apps_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @wechat_app.name, admin_wechat_apps_path(id: @wechat_app.id), class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="section"><%= t('.title') %></div>
  </div>
<% end %>

<div class="ui top attached tabular menu">
  <%= link_to t('wechat.admin.wechat_tags.index.title'), admin_wechat_app_wechat_tags_path(@wechat_app), class: active_helper(controllers: 'wechat_tags') %>
  <%= link_to t('wechat.admin.wechat_users.index.title'), admin_wechat_app_wechat_users_path(@wechat_app), class: active_helper(controllers: 'wechat_users') %>
</div>
