<div class="<%= active_helper(modules: 'wechat/admin', active: 'menu ex-accordion is-active', item: 'menu ex-accordion is-active') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do %>
    <%= link_to t('wechat.admin.apps.index.title'), { controller: 'wechat/admin/apps' }, class: active_helper(controllers: 'wechat/admin/apps', active: 'is-active') %>
    <%= link_to t('wechat.share.apps.index.title'), { controller: 'wechat/share/apps' }, class: active_helper(controllers: ['wechat/share/apps', 'wechat/share/menus', 'wechat/share/scenes', 'wechat/share/wechat_users'], active: 'is-active') %>
<% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fab fa-weixin"></i>
    <span><%= t('wechat.admin.title') %></span>
    <i class="fas dropdown"></i>
  </a>
</div>
