<th>
  <p><%= Wechat::Contact.human_attribute_name(:userid) %></p>
  <p><%= Wechat::Contact.human_attribute_name(:corp_id) %></p>
</th>
<th>
  <p><%= Wechat::Contact.human_attribute_name(:config_id) %></p>
  <p><%= Wechat::Contact.human_attribute_name(:qr_code) %></p>
</th>
<th><%= Wechat::Contact.human_attribute_name(:file) %></th>
<th>
  <p><%= Wechat::Contact.human_attribute_name(:remark) %></p>
  <p><%= Wechat::Contact.human_attribute_name(:state) %></p>
</th>
<th><%= Wechat::Contact.human_attribute_name(:skip_verify) %></th>
