<div>
  <dt><%= Wechat::Agency.human_attribute_name(:appid) %></dt>
  <dd><%= @program_agency.appid %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:qrcode_url) %></dt>
  <dt><%= image_tag @program_agency.file, class: 'image is-128x128' if @program_agency.file.attached? %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:release_info) %></dt>
  <dt><%= simple_format @program_agency.version_info['release_info'] %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:func_infos) %></dt>
  <dd><%= @program_agency.func_infos %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:logo) %></dt>
  <dt><%= image_tag @program_agency.logo if @program_agency.logo.attached? %></dd>
</div>
