<td>
  <div class="is-several">
    <%= image_tag model.avatar_url, class: 'image is-24x24' if model.avatar_url %>
    <span><%= model.name %></span>
  </div>
  <p><span class="tag"><%= model.type_i18n %></span></p>
</td>
<td>
  <p><%= model.account&.identity %></p>
  <p class="has-text-grey"><%= model.uid %></p>
</td>
<td>
  <%= button_to({ controller: 'auth/board/oauth_users', action: 'destroy', id: model.id }, method: :delete, data: { turbo_confirm: t('.confirm') }, class: 'button is-warning') do %>
    <span><%= t('.unbind') %></span>
  <% end %>
  <%= button_to t('.update_token'), "/auth/#{model.provider}", class: 'button is-success' %>
</td>
