<div>
  <dt><%= Wechat::Payee.human_attribute_name(:name) %></dt>
  <dd><%= @payee_domain.payee.name %></dd>
</div>
<div>
  <dt><%= Wechat::Payee.human_attribute_name(:mch_id) %></dt>
  <dd><%= @payee_domain.payee.mch_id %></dd>
</div>
<div>
  <dt><%= Wechat::PayeeDomain.human_attribute_name(:domain) %></dt>
  <dd><%= @payee_domain.domain %></dd>
</div>
