<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_public_template_path(@public_template), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= PublicTemplate.human_attribute_name(:title) %></td>
      <td><%= @public_template.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= PublicTemplate.human_attribute_name(:tid) %></td>
      <td><%= @public_template.tid %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= PublicTemplate.human_attribute_name(:template_key_words) %></td>
      <td>
        <table class="ui very basic table">
        <% @public_template.template_key_words.each do |template_key_word| %>
          <tr>
            <td><%= template_key_word.kid %></td>
            <td><%= template_key_word.name %></td>
            <td><%= template_key_word.example %></td>
            <td><%= template_key_word.rule %></td>
            <td><%= template_key_word.mapping %></td>
          </tr>
        <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td class="right aligned"><%= PublicTemplate.human_attribute_name(:description) %></td>
      <td><%= @public_template.description %></td>
    </tr>
  </tbody>
</table>
