<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('wechat.panel.wechat_configs.index.title'), panel_wechat_configs_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @wechat_config.account, panel_wechat_configs_path(id: @wechat_config.id), class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="section"><%= t('.title') %></div>
  </div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= WechatFeedback.human_attribute_name(:id) %></th>
      <th><%= WechatFeedback.human_attribute_name(:wechat_user_id) %></th>
      <th><%= WechatFeedback.human_attribute_name(:body) %></th>
      <th><%= WechatFeedback.human_attribute_name(:feedback_on) %></th>
      <th><%= WechatFeedback.human_attribute_name(:kind) %></th>
      <th>
        <%= link_to find_data_list_table_lists_path('FeedbackDailyExport', params.permit(:date).merge(date: Date.today)), class: 'ui mini blue button', remote: true do %>
          <i class="file excel icon"></i><%= t('.export') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_feedbacks.each do |wechat_feedback| %>
    <tr>
      <td><%= wechat_feedback.id %></td>
      <td>
        <% if wechat_feedback.wechat_user.user %>
          <%= link_to wechat_feedback.wechat_user.user.name, admin_user_path(wechat_feedback.wechat_user.user_id) %>
        <% else %>
          <%= link_to wechat_feedback.wechat_user.name, admin_oauth_user_path(wechat_feedback.wechat_user_id) %>
        <% end %>
      </td>
      <td><%= wechat_feedback.body %></td>
      <td><%= wechat_feedback.feedback_on %></td>
      <td><%= wechat_feedback.kind %></td>
      <td>
        <%= link_to panel_wechat_config_wechat_feedback_path(@wechat_config, wechat_feedback), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_panel_wechat_config_wechat_feedback_path(@wechat_config, wechat_feedback), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to panel_wechat_config_wechat_feedback_path(@wechat_config, wechat_feedback), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_feedbacks %>
