<td>
  <span style="width: 2em; display: inline-block"></span>
</td>
<td><%= model.name %></td>
<td><%= model.value %></td>
<td>
  <p><%= model.mp_appid %></p>
  <p><%= model.mp_pagepath %></p>
</td>
<td>
<% app_menu = @scene.menu_apps.find(&->(i){ i.menu_id == model.id }) %>
<% if app_menu %>
  <%= form_with theme: 'switch', url: { action: 'destroy', id: app_menu.id }, method: :delete, data: { controller: 'input' } do |f| %>
    <%= f.check_box :disabled, checked: true, data: { action: 'input#submit' }, id: nil %>
  <% end %>
<% else %>
  <%= form_with theme: 'switch', scope: :app_menu, url: { action: 'create' }, data: { controller: 'input' } do |f| %>
    <%= f.hidden_field :menu_id, value: model.id %>
    <%= f.check_box :disabled, data: { action: 'input#submit' }, id: nil %>
  <% end %>
<% end %>
</td>
