<tr id="tr_<%= model.id %>" data-depth="<%= '0' %>" data-controller="tree show" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="<%= 'background-white-ter' if model.appid.blank? %>">

  <td>
    <div data-show-target="item" class="visibility-hidden">
      <% if model.appid.to_s == @app.appid %>
        <% if model.type == 'Wechat::ParentMenu' %>
        <% else %>
          <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
            <%= svg_tag 'pencil' %>
          <% end %>
        <% end %>
        <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-borderless', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
          <%= svg_tag 'trash' %>
        <% end %>
      <% end %>
    </div>
  </td>

