<td>
  <span style="width: <%= model.parent_id ? 1.43 : 0 %>em; display: inline-block"></span>
  <% if model.children.size > 0 %>
    <i class="fa-solid fa-fw fa-caret-down" style="cursor: pointer" data-action="click->tree#collapse"></i>
  <% else %>
    <i class="fa-solid fa-fw fa-minus"></i>
  <% end %>
  <span><%= model.type_i18n %></span>
</td>
<td><%= model.name %></td>
<td><%= model.value %></td>
<td>
  <p><%= model.mp_appid %></p>
  <p><%= model.mp_pagepath %></p>
</td>
<td>
<% app_menu = @scene.app_menus.find(&->(i){ i.menu_id == model.id }) %>
<% if app_menu %>
  <%= form_with theme: nil, url: { action: 'destroy', id: app_menu.id }, method: :delete, data: { controller: 'input' } do |f| %>
    <%= f.check_box :disabled, checked: true, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
<% else %>
  <%= form_with theme: nil, scope: :app_menu, url: { action: 'create' }, data: { controller: 'input' } do |f| %>
    <%= f.hidden_field :menu_id, value: model.id %>
    <%= f.check_box :disabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
<% end %>
</td>
