<th>
  <p><%= Wechat::Suite.human_attribute_name(:name) %></p>
  <p class="has-text-grey"><%= Wechat::Suite.human_attribute_name(:corp_id) %></p>
</th>
<th>
  <p><%= Wechat::Suite.human_attribute_name(:suite_id) %></p>
  <p><%= Wechat::Suite.human_attribute_name(:secret) %></p>
  <p><%= Wechat::Suite.human_attribute_name(:token) %></p>
  <p><%= Wechat::Suite.human_attribute_name(:encoding_aes_key) %></p>
</th>
<th>
  <p><%= Wechat::Suite.human_attribute_name(:redirect_controller) %></p>
  <p><%= Wechat::Suite.human_attribute_name(:redirect_action) %></p>
</th>
