<tr>
  <td class="has-text-right"><%= WechatMenu.human_attribute_name(:menu_type) %></td>
  <td><%= @wechat_menu.menu_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatMenu.human_attribute_name(:name) %></td>
  <td><%= @wechat_menu.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatMenu.human_attribute_name(:value) %></td>
  <td><%= @wechat_menu.value %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatMenu.human_attribute_name(:mp_appid) %></td>
  <td><%= @wechat_menu.mp_appid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= WechatMenu.human_attribute_name(:mp_pagepath) %></td>
  <td><%= @wechat_menu.mp_pagepath %></td>
</tr>
