<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('wechat.admin.wechat_configs.index.title'), admin_wechat_configs_path, class: 'section' %>
    <% if @wechat_config %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @wechat_config.name, admin_wechat_configs_path(id: @wechat_config.id), class: 'section' %>
    <% end %>
    <i class="fas fa-angle-right divider"></i>
    <div class="section"><%= t('.title') %></div>
  </div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= WechatMenu.human_attribute_name(:menu_type) %></th>
      <th><%= WechatMenu.human_attribute_name(:name) %></th>
      <th><%= WechatMenu.human_attribute_name(:value) %></th>
      <th><%= WechatMenu.human_attribute_name(:appid) %></th>
      <th><%= WechatMenu.human_attribute_name(:pagepath) %></th>
      <th>
        <%= link_to sync_admin_wechat_menus_path(wechat_config_id: params[:wechat_config_id]), method: :post, class: 'ui mini green button' do %>
          <i class="fas fa-sync"></i><% t('.sync') %>
        <% end %>
        <%= link_to new_admin_wechat_menu_path(wechat_config_id: params[:wechat_config_id]), remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><% t('.new') %>
        <% end %>
        <%= link_to new_parent_admin_wechat_menus_path(wechat_config_id: params[:wechat_config_id]), remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><% t('.new_parent') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_menus.each do |wechat_menu| %>
    <tr>
      <td><%= wechat_menu.type_i18n %></td>
      <td><%= wechat_menu.name %></td>
      <td><%= wechat_menu.value %></td>
      <td><%= wechat_menu.appid %></td>
      <td><%= wechat_menu.pagepath %></td>
      <td>
        <% if wechat_menu.wechat_config_id.to_s == params[:wechat_config_id].to_s %>
          <% if wechat_menu.type == 'ParentMenu' %>
            <%= link_to edit_parent_admin_wechat_menu_path(wechat_menu), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          <% else %>
            <%= link_to edit_admin_wechat_menu_path(wechat_menu), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          <% end %>
          <%= link_to admin_wechat_menu_path(wechat_menu), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_menus %>
