<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to t('wechat.admin.wechat_apps.index.title'), admin_wechat_apps_path %></li>
    <% if @wechat_app %>
    <li><%= link_to @wechat_app.name, admin_wechat_apps_path(id: @wechat_app.id) %></li>
    <% end %>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
<% end %>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= WechatMenu.human_attribute_name(:menu_type) %></th>
      <th><%= WechatMenu.human_attribute_name(:name) %></th>
      <th><%= WechatMenu.human_attribute_name(:value) %></th>
      <th><%= WechatMenu.human_attribute_name(:appid) %></th>
      <th><%= WechatMenu.human_attribute_name(:pagepath) %></th>
      <th>
        <%= link_to sync_admin_wechat_menus_path(wechat_app_id: params[:wechat_app_id]), method: :post, class: 'button is-link is-small' do %>
          <i class="fas fa-sync"></i><% t('.sync') %>
        <% end %>
        <%= link_to new_admin_wechat_menu_path(wechat_app_id: params[:wechat_app_id]), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><% t('.new') %>
        <% end %>
        <%= link_to new_parent_admin_wechat_menus_path(wechat_app_id: params[:wechat_app_id]), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><% t('.new_parent') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_menus.each do |wechat_menu| %>
    <tr>
      <td><%= wechat_menu.type_i18n %></td>
      <td><%= wechat_menu.name %></td>
      <td><%= wechat_menu.value %></td>
      <td><%= wechat_menu.appid %></td>
      <td><%= wechat_menu.pagepath %></td>
      <td>
        <% if wechat_menu.wechat_app_id.to_s == params[:wechat_app_id].to_s %>
          <% if wechat_menu.type == 'ParentMenu' %>
            <%= link_to edit_parent_admin_wechat_menu_path(wechat_menu), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          <% else %>
            <%= link_to edit_admin_wechat_menu_path(wechat_menu), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          <% end %>
          <%= link_to admin_wechat_menu_path(wechat_menu), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_menus %>
