<th>
  <p><%= Profiled::Profile.human_attribute_name(:external_userid) %></p>
  <p class="has-text-grey"><%= Profiled::Profile.human_attribute_name(:corp_id) %></p>
</th>
<th><%= Crm::Maintain.human_attribute_name(:state) %></th>
<th>
  <p><%= Profiled::Profile.human_attribute_name(:name) %></p>
  <p class="has-text-grey"><%= Profiled::Profile.human_attribute_name(:remark) %></p>
</th>
<th><%= Profiled::Profile.human_attribute_name(:gender) %></th>
<th><%= Profiled::Profile.human_attribute_name(:add_way) %></th>
