<td>
  <% if model.wechat_user.user %>
    <%= link_to model.wechat_user.user.name, { controller: 'auth/panel/users', action: 'show', id: model.wechat_user.user.id }, text: true, data: { turbo_frame: 'modal' } %>
  <% else %>
    <%= link_to model.wechat_user.name, { controller: 'auth/panel/oauth_users', action: 'show', id: model.wechat_user.id }, text: true, data: { turbo_frame: 'modal' } %>
  <% end %>
</td>
<td><%= model.type_i18n %></td>
<td>
  <p><%= model.body %></p>
  <p><%= model.event %></p>
  <p><%= model.event_key %></p>
</td>
<td>
  <table class="table is-fullwidth is-borderless">
  <% model.extractions.each do |ex| %>
    <tr>
      <td><%= ex.name %></td>
      <td><%= ex.matched %></td>
      <td><%= ex.respond_text %></td>
    </tr>
  <% end %>
  </table>
</td>
<td><time data-controller="time"><%= model.created_at.to_formatted_s(:iso8601) %></time></td>
