<td>
  <p><%= model.name %></p>
  <p class="text-grey"><%= model.remark %></p>
  <p><%= model.user&.id %></p>
</td>
<td>
  <p class="family-monospace"><%= model.uid %></p>
  <p class="family-monospace text-grey"><%= model.unionid %></p>
</td>
<td>
<% model.user_tags.each do |user_tag| %>
  <span class="tag is-success">
    <span><%= user_tag.tag.name %></span>
    <%= button_to({ controller: 'user_tags', action: 'destroy', id: user_tag.id }, method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'delete is-small text-grey') do %>
    <% end %>
  </span>
<% end %>
</td>
<td>
  <p><%= model.identity %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :auto_reply, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.unsubscribe_at&.to_fs(:iso8601) %></time></p>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ action: 'chat', id: model.id }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-inbox text-info"></i>
      <span class="ml-1"><%= t('.chat.title') %></span>
    <% end %>
  </div>
</td>