<div id="chat_box" class="box">
  <%= render partial: 'message', collection: @messages.reverse, as: :model, locals: { wechat_user: @wechat_user } %>
</div>
<%= turbo_stream_from @wechat_user %>
<%= form_with theme: nil, url: { action: 'message' }, class: 'box' do |f| %>
  <div class="field">
    <%= f.text_area :content, class: 'textarea is-borderless' %>
  </div>
  <div class="has-block-right">
    <%= button_tag class: 'button' do %>
      <span class="icon">
        <i class="fa-solid fa-xl fa-paper-plane"></i>
      </span>
    <% end %>
  </div>
<% end %>