<td>
  <div class="is-several">
    <%= image_tag model.square_logo_url, class: 'image is-32x32' if model.square_logo_url.present? %>
    <span><%= model.name %></span>
  </div>
  <p><%= model.full_name %></p>
</td>
<td><%= model.corp_id %></td>
<td>
  <p><%= model.corp_type %></p>
  <p><%= model.subject_type %></p>
</td>
<td>
  <p><%= model.industry %></p>
  <p><%= model.sub_industry %></p>
</td>
