<tr id="tr_<%= model.id %>" data-controller="show" data-action="mouseenter->show#show mouseleave->show#hide">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden">
      <%= link_to({ controller: 'maintains', corp_id: model.id }, aria: { label: t('wechat.panel.maintains.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-users-line"></i>
      <% end %>
      <%= link_to({ controller: 'corp_users', corp_id: model.id }, aria: { label: t('wechat.panel.corp_users.index.title') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-users"></i>
      <% end %>
      <%= link_to({ action: 'show', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.show') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-circle-info"></i>
      <% end %>
      <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fa-solid fa-pencil"></i>
      <% end %>
    </div>
  </td>
</tr>
