<td><%= model.name %></td>
<td><%= model.full_name %></td>
<td><%= model.corp_id %></td>
<td><%= model.crop_type %></td>
<td><%= model.subject_type %></td>
<td><%= model.square_logo_url %></td>
<td><%= model.industry %></td>
