<div>
  <dt><%= Wechat::Menu.human_attribute_name(:menu_type) %></dt>
  <dd><%= @menu.menu_type %></dd>
</div>
<div>
  <dt><%= Wechat::Menu.human_attribute_name(:name) %></dt>
  <dd><%= @menu.name %></dd>
</div>
<div>
  <dt><%= Wechat::Menu.human_attribute_name(:value) %></dt>
  <dd><%= @menu.value %></dd>
</div>
<div>
  <dt><%= Wechat::Menu.human_attribute_name(:mp_appid) %></dt>
  <dd><%= @menu.mp_appid %></dd>
</div>
<div>
  <dt><%= Wechat::Menu.human_attribute_name(:mp_pagepath) %></dt>
  <dd><%= @menu.mp_pagepath %></dd>
</div>
