<div>
  <dt><%= Wechat::PlatformTemplate.human_attribute_name(:template_id) %></dt>
  <dd><%= @platform_template.template_id %></dd>
</div>
<div>
  <dt><%= Wechat::PlatformTemplate.human_attribute_name(:user_version) %></dt>
  <dd><%= @platform_template.user_version %></dd>
</div>
<div>
  <dt><%= Wechat::PlatformTemplate.human_attribute_name(:audit_status) %></dt>
  <dd><%= @platform_template.audit_status %></dd>
</div>
