<tr>
  <td class="has-text-right"><%= Wechat::PlatformTemplate.human_attribute_name(:template_id) %></td>
  <td><%= @platform_template.template_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::PlatformTemplate.human_attribute_name(:user_version) %></td>
  <td><%= @platform_template.user_version %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::PlatformTemplate.human_attribute_name(:audit_status) %></td>
  <td><%= @platform_template.audit_status %></td>
</tr>
