<div data-show-target="item" class="visibility-hidden">
  <%= button_to({ action: 'info', appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'gears' %>
    <span class="ml-1"><%= t('.info.title') %></span>
  <% end %>
  <%= button_to({ action: 'show', appid: model.appid }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'eye', class: 'icon text-info' %>
  <% end %>
  <%= button_to({ action: 'edit', appid: model.appid }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'pencil', class: 'icon text-link' %>
  <% end %>
  <%= button_to({ action: 'destroy', appid: model.appid }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'trash', class: 'icon text-danger' %>
  <% end %>
</div>
<div data-show-target="item" class="visibility-hidden">
  <%= link_to({ controller: 'requests', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'comments' %>
    <span class="ml-1"><%= t('.requests.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'tags', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'user-tag' %>
    <span class="ml-1"><%= t('.tags.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'wechat_users', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'users' %>
    <span class="ml-1"><%= t('.wechat_users.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'scenes', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'qrcode' %>
    <span class="ml-1"><%= t('.scenes.index.title') %></span>
  <% end %>
</div>
<div data-show-target="item" class="visibility-hidden">
  <%= link_to({ controller: 'menu_apps', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'bars' %>
    <span class="ml-1"><%= t('.menu_apps.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'responses', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'reply-all' %>
    <span class="ml-1"><%= t('.responses.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'templates', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'inbox' %>
    <span class="ml-1"><%= t('.templates.index.title') %></span>
  <% end %>
  <%= link_to({ controller: 'app_configs', app_appid: model.appid }, class: 'button is-small is-borderless') do %>
    <%= svg_tag 'gears' %>
    <span class="ml-1"><%= t('.app_configs.index.title') %></span>
  <% end %>
</div>
