<dl class="as-show">
  <div>
    <dt><%= Wechat::App.human_attribute_name(:url) %></dt>
    <dd data-controller="clipboard">
      <span data-clipboard-target="source"><%= @app.url %></span>
      <button data-action="clipboard#copyInner" class="button is-small is-success">Copy</button>
    </dd>
  </div>
  <div>
    <dt><%= Wechat::App.human_attribute_name(:token) %></dt>
    <dd><%= @app.token %></dd>
  </div>
  <div>
    <dt><%= Wechat::App.human_attribute_name(:encoding_aes_key) %></dt>
    <dd><%= @app.encoding_aes_key %></dd>
  </div>
  <div>
    <dt><%= Wechat::App.human_attribute_name(:encrypt_mode) %></dt>
    <dd><%= @app.encrypt_mode_i18n %></dd>
  </div>
</dl>
