<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_name) %></dt>
  <dd><%= model.id_name %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_number) %></dt>
  <dd><%= model.id_number %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:mobile) %></dt>
  <dd><%= model.mobile %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:state) %></dt>
  <dd><%= model.state_i18n %></dd>
</div>
