<div>
  <dt><%= Wechat::Register.human_attribute_name(:license) %></dt>
  <dd><%= image_tag @register.license, class: 'image is-64x64' %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_avatar) %></dt>
  <dd><%= image_tag @register.id_avatar, class: 'image is-64x64' %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_badge) %></dt>
  <dd><%= image_tag @register.id_badge, class: 'image is-64x64' %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:bank_name) %></dt>
  <dd><%= @register.bank_name %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:bank_number) %></dt>
  <dd><%= @register.bank_number %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:mobile) %></dt>
  <dd><%= @register.mobile %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:email) %></dt>
  <dd><%= @register.email %></dd>
</div>
