<div class="box">
  <div class="box-header px-3">
    <span class="has-border-left-primary">说明</span>
  </div>
  <div class="content">
    <ul class="size-7 text-grey">
      <li>本平台代提交资料申请微信支付商户号，申请成功后可登录微信支付官方网站：https://pay.weixin.qq.com 管理；</li>
      <li>微信支付官方收取 0.6% 支付手续费（每 100 元收取 0.6 元）；</li>
      <li>商户可设置 T+1 自动到账，交易次日由微信支付方直接结算至商户银行卡；</li>
    </ul>
  </div>
</div>

<div class="box p-0">
  <%= link_to({ action: 'edit_license' }, class: 'media as-list') do %>
    <div class="media-left">
      <%= svg_tag 'circle-1' %>
    </div>
    <div class="media-content">
      <span>营业执照</span>
    </div>
    <div class="media-right text-grey">
      <%= svg_tag 'chevron-right' %>
    </div>
  <% end %>
  <%= link_to({ action: 'edit_id' }, skip: !@register.all_had?, class: 'media as-list') do %>
    <div class="media-left">
      <%= svg_tag 'circle-2' %>
    </div>
    <div class="media-content">
      <span>经营者证件</span>
    </div>
    <div class="media-right text-grey">
      <%= svg_tag 'chevron-right' %>
    </div>
  <% end %>
  <%= link_to({ action: 'edit_bank' }, skip: !@register.need_bank?, class: 'media as-list') do %>
    <div class="media-left">
      <%= svg_tag 'circle-3' %>
    </div>
    <div class="media-content">
      <span>法人银行卡/对公账户</span>
    </div>
    <div class="media-right text-grey">
      <%= svg_tag 'chevron-right' %>
    </div>
  <% end %>
  <%= link_to({ action: 'edit_contact' }, skip: !@register.need_contact?, class: 'media as-list') do %>
    <div class="media-left">
      <%= svg_tag 'circle-4' %>
    </div>
    <div class="media-content">
      <span>邮箱/手机号</span>
    </div>
    <div class="media-right text-grey">
      <%= svg_tag 'chevron-right' %>
    </div>
  <% end %>
</div>