<%= form_with theme: 'search', model: Wechat::WechatRequest.new do |f| %>
  <div class="field-body">
    <%= f.date_field 'created_at-gte', value: params['created_at-gte'] %>
    <%= f.date_field 'created_at-lte', value: params['created_at-lte'] %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: ['created_at-gte', 'created_at-lte']), class: 'button is-light' %>
    </div>
  </div>
<% end %>
