<%= form_with theme: 'search', model: WechatRequest.new do |f| %>
  <div class="field-body">
    <%= f.date_field 'created_at-gte', value: params['created_at-gte'] %>
    <%= f.date_field 'created_at-lte', value: params['created_at-lte'] %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(except: ['created_at-gte', 'created_at-lte']), class: 'button is-light' %>
    </div>
  </div>
<% end %>
<dl>
  <dt><%= WechatRequest.human_attribute_name(:type) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:type]), class: active_params(type: '', active_class: 'button is-info', item_class: 'button is-light') %>
    <% WechatRequest.options_i18n(:type).each do |text, value| %>
      <%= link_to text, filter_params(type: value), class: active_params(type: value, active_class: 'button is-info', item_class: 'button is-light') %>
    <% end %>
  </dd>
</dl>
