<td>
  <% if model.wechat_user.user %>
    <%= link_to model.wechat_user.user.name, panel_user_path(model.wechat_user.user_id), text: true %>
  <% else %>
    <%= link_to model.wechat_user.name, admin_oauth_user_path(model.wechat_user), text: true %>
  <% end %>
</td>
<td><%= model.type_i18n %></td>
<td><%= model.body %></td>
<td>
  <table class="table is-fullwidth is-borderless">
  <% model.wechat_extractions.each do |ex| %>
    <tr>
      <td><%= ex.name %></td>
      <td><%= ex.matched %></td>
      <td><%= ex.respond_text %></td>
    </tr>
  <% end %>
  </table>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
