<tr>
  <td>
    <% if wechat_request.wechat_user.user %>
      <%= link_to wechat_request.wechat_user.user.name, panel_user_path(wechat_request.wechat_user.user_id), remote: true, text: true %>
    <% else %>
      <%= link_to wechat_request.wechat_user.name, admin_oauth_user_path(wechat_request.wechat_user), remote: true, text: true %>
    <% end %>
  </td>
  <td><%= wechat_request.type_i18n %></td>
  <td><%= wechat_request.body %></td>
  <td>
    <table class="table is-fullwidth is-borderless">
    <% wechat_request.wechat_extractions.each do |ex| %>
      <tr>
        <td><%= ex.name %></td>
        <td><%= ex.matched %></td>
        <td><%= ex.respond_text %></td>
      </tr>
    <% end %>
    </table>
  </td>
  <td><time><%= wechat_request.created_at.to_s(:rfc822) %></time></td>
  <td>
    <%= link_to admin_wechat_app_wechat_request_path(@wechat_app, wechat_request), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to admin_wechat_app_wechat_request_path(@wechat_app, wechat_request), method: :delete, remote: true, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
