<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to t('wechat.admin.wechat_apps.index.title'), admin_wechat_apps_path %></li>
    <li><%= link_to @wechat_app.name, admin_wechat_apps_path(id: @wechat_app.id) %></li>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
<% end %>

<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="one wide"><%= WechatRequest.human_attribute_name(:wechat_user_id) %></th>
      <th class="two wide"><%= WechatRequest.human_attribute_name(:type) %></th>
      <th class="nine wide"><%= WechatRequest.human_attribute_name(:extractions) %></th>
      <th class="two wide"><%= WechatRequest.human_attribute_name(:created_at) %></th>
      <th class="two wide">
        <%= link_to find_data_list_table_lists_path('RequestDailyExport', params.permit('created_at-gte', 'created_at-lte')), class: 'button is-link is-small', remote: true do %>
          <i class="file excel icon"></i><%= t('.export') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_requests.each do |wechat_request| %>
    <tr>
      <td>
        <% if wechat_request.wechat_user.user %>
          <%= link_to wechat_request.wechat_user.user.name, admin_user_path(wechat_request.wechat_user.user_id) %>
        <% else %>
          <%= link_to wechat_request.wechat_user.name, admin_oauth_user_path(wechat_request.wechat_user_id) %>
        <% end %>
      </td>
      <td><%= wechat_request.type_i18n %></td>
      <td>
        <table class="ui very basic table">
        <% wechat_request.wechat_extractions.each do |ex| %>
          <tr>
            <td><%= ex.name %></td>
            <td><%= ex.matched %></td>
            <td><%= ex.respond_text %></td>
          </tr>
        <% end %>
        </table>
      </td>
      <td><time><%= wechat_request.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_wechat_app_wechat_request_path(@wechat_app, wechat_request), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_wechat_app_wechat_request_path(@wechat_app, wechat_request), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_wechat_app_wechat_request_path(@wechat_app, wechat_request), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_requests %>
