<h1 class="title is-3 text-centered text-primary mb-4">微信登陆</h1>
<figure class="text-centered">
  <% if @scene %>
    <%= image_tag @scene.qrcode_data_url, data: { controller: 'session-login-channel' }, id: 'login_qrcode' %>
  <% else %>
    <%= image_tag svg_data_url('placeholder.svg'), data: { controller: 'session-channel' }, id: 'login_qrcode' %>
  <% end %>
  <figcaption>请使用微信扫描二维码登录</figcaption>
</figure>
<p
  id="login_count_down"
  data-controller="count-down"
  data-count-down-reload-value="true"
  data-count-down-base-value="3"
  class="<%= @scene.present? ? 'display-block text-centered' : 'display-none text-centered' %>"
>
  <span data-count-down-target="count"><%= @scene&.remaining_seconds %></span>
  <span>秒后过期</span>
</p>
<p class="text-centered">
  <%= link_to({ controller: 'auth/sessions', action: 'new', **params.permit(:state) }) do %>
    <%= svg_tag 'user' %>
    <span class="text-grey">账号密码登录</span>
  <% end %>
</p>
