<td><%= model.appid %></td>
<td>
  <span><%= model.app.name %></span>
  <span class="tag"><%= model.app.type_i18n %></span>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
