<th>
  <p><%= Wechat::App.human_attribute_name(:name) %></p>
  <p class="color-grey"><%= Wechat::App.human_attribute_name(:organ_id) %></p>
</th>
<th>
  <p><%= Wechat::App.human_attribute_name(:appid) %></p>
  <p><%= Wechat::App.human_attribute_name(:domain) %></p>
</th>
<th>
  <p><%= Wechat::App.human_attribute_name(:shared) %></p>
  <p><%= Wechat::App.human_attribute_name(:global) %></p>
</th>
