<td><%= model.type_i18n %></td>
<td>
  <p><%= model.title %></p>
  <p class="has-text-grey"><%= model.description %></p>
</td>
<td><%= model.tid %></td>
<td>
  <p><%= model.notifiable_type %></p>
  <p><%= model.code %></p>
</td>
