<tr>
  <td>
    <p><%= link_to wechat_register.id_name, admin_wechat_register_path(wechat_register) %></p>
    <p><%= wechat_register.id_number %></p>
  </td>
  <td>
    <p><%= wechat_register.email %></p>
    <p><%= wechat_register.email_code %></p>
    <p class="has-text-danger"><%= wechat_register.password %></p>
  </td>
  <td>
    <p>
      <%= wechat_register.mobile %>
      <%= link_to code_admin_wechat_register_path(wechat_register), method: :put, aria: { label: '验证码' }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
        <i class="fas fa-paper-plane"></i>
      <% end %>
    </p>
    <p><%= wechat_register.mobile_code %></p>
  </td>
  <td>
    <p>
      <%= image_tag wechat_register.bind_qrcode, class: 'image is-24x24' if wechat_register.bind_qrcode.attached? %>
      <%= link_to bind_admin_wechat_register_path(wechat_register), aria: { label: t('.bind') }, remote: true, class: 'button is-small is-rounded is-light' do %>
        <i class="fas fa-qrcode"></i>
      <% end %>
    </p>
    <p>
      <%= image_tag wechat_register.qrcode, class: 'image is-24x24' if wechat_register.qrcode.attached? %>
      <%= link_to qrcode_admin_wechat_register_path(wechat_register), aria: { label: t('.qrcode') }, remote: true, class: 'button is-small is-rounded is-light' do %>
        <i class="fas fa-qrcode"></i>
      <% end %>
    </p>
  </td>
  <td>
    <p><%= wechat_register.state_i18n %></p>
    <p><%= wechat_register.appid %></p>
  </td>
  <td><time><%= wechat_register.created_at.to_s(:rfc822) %></time></td>
  <td>
    <%= link_to admin_wechat_register_path(wechat_register), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-info"></i>
    <% end %>
    <%= link_to assign_admin_wechat_register_path(wechat_register), aria: { label: '分配' }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-hand-point-right"></i>
    <% end %>
    <%= link_to edit_admin_wechat_register_path(wechat_register), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to app_admin_wechat_register_path(wechat_register), aria: { label: t('.app') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fab fa-weixin"></i>
    <% end %>
    <%= link_to my_tasks_path(tasking_type: 'WechatRegister', tasking_id: wechat_register.id), aria: { label: t('.tasks') }, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-tasks"></i>
    <% end %>
    <%= link_to admin_wechat_register_path(wechat_register), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </td>
</tr>
