<th>
  <p><%= WechatRegister.human_attribute_name(:id_name) %></p>
  <p><%= WechatRegister.human_attribute_name(:id_number) %></p>
</th>
<th>
  <p><%= WechatRegister.human_attribute_name(:email) %></p>
  <p><%= WechatRegister.human_attribute_name(:email_code) %></p>
  <p class="has-text-danger"><%= WechatRegister.human_attribute_name(:password) %></p>
</th>
<th>
  <p><%= WechatRegister.human_attribute_name(:mobile) %></p>
  <p><%= WechatRegister.human_attribute_name(:mobile_code) %></p>
</th>
<th>
  <p><%= WechatRegister.human_attribute_name(:bind_qrcode) %></p>
  <p><%= WechatRegister.human_attribute_name(:qrcode) %></p>
</th>
<th>
  <p><%= WechatRegister.human_attribute_name(:state) %></p>
  <p><%= WechatRegister.human_attribute_name(:appid) %></p>
</th>
<th><%= WechatRegister.human_attribute_name(:created_at) %></th>
<th>
  <%= link_to new_admin_wechat_register_path, remote: true, class: 'button is-link is-small' do %>
    <i class="fas fa-plus"></i><%= t('.new') %>
  <% end %>
  <%= link_to admin_task_templates_path(tasking_type: 'WechatRegister'), target: '_blank', class: 'button is-link is-small' do %>
    <i class="fas fa-plus"></i>任务模板
  <% end %>
</th>
