<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:uid) %></dt>
  <dd><%= @wechat_user.uid %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:appid) %></dt>
  <dd><%= @wechat_user.appid %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:appid) %></dt>
  <dd><%= @wechat_user.app&.name || @wechat_user.agency&.name %></dd>
</div>
<div>
  <dt><%= Auth::OauthUser.human_attribute_name(:identity) %></dt>
  <dd><%= @wechat_user.identity %></dd>
</div>
