<div>
  <dt><%= Wechat::Template.human_attribute_name(:template_id) %></dt>
  <dd><%= @template.template_id %></dd>
</div>
<div>
  <dt><%= Wechat::Template.human_attribute_name(:title) %></dt>
  <dd><%= @template.title %></dd>
</div>
<div>
  <dt><%= Wechat::Template.human_attribute_name(:content) %></dt>
  <dd><%= @template.content %></dd>
</div>
<div>
  <dt><%= Wechat::Template.human_attribute_name(:example) %></dt>
  <dd><%= @template.example %></dd>
</div>
<div>
  <dt><%= Wechat::Template.human_attribute_name(:template_type) %></dt>
  <dd><%= @template.template_type %></dd>
</div>
