<tr>
  <td><%= Wechat::Template.human_attribute_name(:template_id) %></td>
  <td><%= @template.template_id %></td>
</tr>
<tr>
  <td><%= Wechat::Template.human_attribute_name(:title) %></td>
  <td><%= @template.title %></td>
</tr>
<tr>
  <td><%= Wechat::Template.human_attribute_name(:content) %></td>
  <td><%= @template.content %></td>
</tr>
<tr>
  <td><%= Wechat::Template.human_attribute_name(:example) %></td>
  <td><%= @template.example %></td>
</tr>
<tr>
  <td><%= Wechat::Template.human_attribute_name(:template_type) %></td>
  <td><%= @template.template_type %></td>
</tr>
