<td><%= model.name %></td>
<td>
  <p><%= model.appid %></p>
  <p><%= model.secret %></p>
  <p><%= model.token %></p>
  <p><%= model.encoding_aes_key %></p>
  <p><%= model.verify_ticket %></p>
  <p><%= model.access_token %></p>
  <p><time data-controller="time"><%= model.access_token_expires_at.to_formatted_s(:iso8601) if model.access_token_expires_at %></time></p>
  <p><%= model.pre_auth_code %></p>
  <p><time data-controller="time"><%= model.pre_auth_code_expires_at.to_formatted_s(:iso8601) if model.pre_auth_code_expires_at %></time></p>
</td>
