<th>
  <p><%= Wechat::Suite.human_attribute_name(:name) %></p>
  <p class="text-grey"><%= Wechat::Suite.human_attribute_name(:corp_id) %></p>
</th>
<th><%= Wechat::Suite.human_attribute_name(:suite_id) %></th>
<th>
  <p><%= Wechat::Suite.human_attribute_name(:redirect_controller) %></p>
  <p><%= Wechat::Suite.human_attribute_name(:redirect_action) %></p>
</th>
