<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.corp_id %></p>
</td>
<td><%= model.suite_id %></td>
<td>
  <p><%= model.redirect_controller %></p>
  <p><%= model.redirect_action %></p>
</td>
