<td>
  <p>
    <span><%= model.name %></span>
    <span class="tag is-danger"><%= model.type_i18n %></span>
  </p>
  <p class="has-text-grey"><%= model.organ&.name %></p>
</td>
<td>
  <p><%= model.appid %></p>
  <p><%= model.domain %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :app, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :shared, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
  <%= form_with theme: nil, model: model, scope: :app, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :global, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
