<th>
  <p><%= Wechat::App.human_attribute_name(:name) %></p>
  <p class="has-text-grey"><%= Wechat::App.human_attribute_name(:organ_id) %></p>
</th>
<th></th>
<th>
  <p><%= Wechat::App.human_attribute_name(:shared) %></p>
  <p><%= Wechat::App.human_attribute_name(:global) %></p>
</th>
<th><%= Wechat::App.human_attribute_name(:inviting) %></th>
