<th>
  <%= Org::Organ.human_attribute_name(:name) %>(<%= Org::Organ.human_attribute_name(:name_short) %>)
</th>
<th>
  <p><%= Org::Organ.human_attribute_name(:domain) %></p>
  <p><%= Org::Organ.human_attribute_name(:corpid) %></p>
</th>
<th>
  <p><%= Org::Organ.human_attribute_name(:area_id) %></p>
  <p><%= Org::Organ.human_attribute_name(:address) %></p>
</th>
<th><%= Org::Organ.human_attribute_name(:official) %></th>
<th><%= Org::Organ.human_attribute_name(:roles) %></th>
