<td>
  <div class="is-several">
    <%= image_tag model.logo.variant(resize_to_limit: [30, 30]) if model.logo.attached? %>
    <span><%= model.name %></span>
    <% if model.name_short.present? %>
      <span class="has-text-grey">(<%= model.name_short %>)</span>
    <% end %>
  </div>
</td>
<td><%= model.corpid %></td>
<td>
  <%= model.official %>
</td>
