<td>
  <p>
    <span><%= model.title %></span>
    <span class="tag"><%= model.template_type_i18n %></span>
  </p>
  <p class="text-grey"><%= model.template_id %></p>
</td>
<td>
  <p><%= model.content %></p>
  <p class="text-grey"><p><%= model.example %></p></p>
</td>
<td>
  <%= form_with theme: nil, model: model, url: { action: 'destroy', id: model.id }, method: :delete, data: { controller: 'input' } do |f| %>
    <%= f.check_box '', checked: true, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
