<th>
  <p><%= Wechat::ProviderReceive.human_attribute_name(:corp_id) %></p>
  <p><%= Wechat::ProviderReceive.human_attribute_name(:user_id) %></p>
  <p><%= Wechat::ProviderReceive.human_attribute_name(:agent_id) %></p>
</th>
<th>
  <p><%= Wechat::ProviderReceive.human_attribute_name(:event) %></p>
  <p><%= Wechat::ProviderReceive.human_attribute_name(:event_key) %></p>
</th>
<th><%= Wechat::ProviderReceive.human_attribute_name(:content) %></th>
<th style="width: 30%"><%= Wechat::ProviderReceive.human_attribute_name(:message_hash) %></th>
