<td><%= model.corp_id %></td>
<td><%= model.user_id %></td>
<td><%= model.agent_id %></td>
<td><%= model.event %></td>
<td><%= model.event_key %></td>
<td><%= model.content %></td>
<td><%= model.message_hash %></td>
