<td>
  <p><%= model.corp_id %></p>
  <p><%= model.user_id %></p>
  <p><%= model.agent_id %></p>
</td>
<td>
  <p><%= model.event %></p>
  <p><%= model.event_key %></p>
</td>
<td><%= model.content %></td>
<td><%= model.message_hash %></td>
