<th><%= Wechat::App.human_attribute_name(:type) %></th>
<th><%= Wechat::App.human_attribute_name(:name) %></th>
<th></th>
<th><%= Wechat::App.human_attribute_name(:encrypt_mode) %></th>
<th>
  <p><%= Wechat::App.human_attribute_name(:enabled) %></p>
  <p><%= Wechat::App.human_attribute_name(:inviting) %></p>
</th>
<th>
  <p><%= Wechat::App.human_attribute_name(:domain) %></p>
  <p><%= Wechat::App.human_attribute_name(:weapp_id) %></p>
</th>
<th></th>
