<th>
  <p><%= Wechat::CorpUser.human_attribute_name(:userid) %></p>
  <p><%= Wechat::CorpUser.human_attribute_name(:created_at) %></p>
</th>
<th>
  <p><%= Wechat::CorpUser.human_attribute_name(:device_id) %></p>
  <p><%= Wechat::CorpUser.human_attribute_name(:open_userid) %></p>
</th>
<th><%= Wechat::CorpUser.human_attribute_name(:member) %></th>
