<td>
  <p><%= model.userid %></p>
  <p class="has-text-grey"><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td>
  <p><%= model.device_id %></p>
  <p><%= model.open_userid %></p>
</td>
<td><%= model.member&.id %></td>
