<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_my_wechat_subscribed_path(@wechat_subscribed), class: 'ui mini blue right floated button' %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="has-text-right"><%= WechatSubscribed.human_attribute_name(:wechat_template) %></td>
      <td><%= @wechat_subscribed.wechat_template %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= WechatSubscribed.human_attribute_name(:status) %></td>
      <td><%= @wechat_subscribed.status %></td>
    </tr>
    <tr>
      <td class="has-text-right"><%= WechatSubscribed.human_attribute_name(:sending_at) %></td>
      <td><%= @wechat_subscribed.sending_at %></td>
    </tr>
  </tbody>
</table>
