<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Wechat::Subscribed.human_attribute_name(:template) %></th>
      <th><%= Wechat::Subscribed.human_attribute_name(:status) %></th>
      <th><%= Wechat::Subscribed.human_attribute_name(:sending_at) %></th>
      <th>
        <%= link_to new_my_subscribe_path, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @subscribes.each do |subscribe| %>
    <tr>
      <td><%= subscribe.template %></td>
      <td><%= subscribe.status %></td>
      <td><%= subscribe.sending_at %></td>
      <td>
        <%= link_to my_subscribe_path(subscribe), aria: { label: t('.show') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-info"></i>
        <% end %>
        <%= link_to edit_my_subscribe_path(subscribe), aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to my_subscribe_path(subscribe), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @subscribes %>
