<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= WechatSubscribed.human_attribute_name(:wechat_template) %></th>
      <th><%= WechatSubscribed.human_attribute_name(:status) %></th>
      <th><%= WechatSubscribed.human_attribute_name(:sending_at) %></th>
      <th>
        <%= link_to new_my_wechat_subscribed_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_subscribeds.each do |wechat_subscribed| %>
    <tr>
      <td><%= wechat_subscribed.wechat_template %></td>
      <td><%= wechat_subscribed.status %></td>
      <td><%= wechat_subscribed.sending_at %></td>
      <td>
        <%= link_to my_wechat_subscribed_path(wechat_subscribed), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_my_wechat_subscribed_path(wechat_subscribed), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to my_wechat_subscribed_path(wechat_subscribed), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_subscribeds %>
