<%= render 'shared/error_messages', target: f.object %>
<%= f.select :type, options_for_select(WechatApp.options_i18n(:type), f.object.type) %>
<%= f.text_field :name %>
<%= f.text_field :appid %>
<%= f.text_field :secret %>
<%= f.check_box :encrypt_mode %>
<div class="level">
  <h4 class="level-item has-text-centered">微信支付</h4>
</div>
<%= f.text_field :mch_id %>
<%= f.text_field :key %>
<div class="level">
  <h4 class="level-item has-text-centered">企业微信</h4>
</div>
<%= f.text_field :agentid %>
