<th><%= Wechat::WechatApp.human_attribute_name(:type) %></th>
<th><%= Wechat::WechatApp.human_attribute_name(:name) %></th>
<th>
  <p><%= Wechat::WechatApp.human_attribute_name(:appid) %></p>
  <p><%= Wechat::WechatApp.human_attribute_name(:secret) %></p>
  <p><%= Wechat::WechatApp.human_attribute_name(:agentid) %></p>
  <p><%= Wechat::WechatApp.human_attribute_name(:mch_id) %></p>
  <p><%= Wechat::WechatApp.human_attribute_name(:key) %></p>
  <p><%= Wechat::WechatApp.human_attribute_name(:serial_no) %></p>
</th>
<th><%= Wechat::WechatApp.human_attribute_name(:encrypt_mode) %></th>
<th><%= Wechat::WechatApp.human_attribute_name(:enabled) %></th>
<th></th>
<th></th>
