<td><%= model.type_i18n %></td>
<td><%= model.name %></td>
<td>
  <p><%= model.appid %></p>
  <p><%= model.secret %></p>
  <p><%= model.agentid %></p>
  <p><%= model.mch_id %></p>
  <p><%= model.key %></p>
  <p><%= model.serial_no %></p>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :wechat_app, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :encrypt_mode, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= form_with theme: nil, model: model, scope: :wechat_app, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :enabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
    <label data-action="click->input#check"></label>
  <% end %>
</td>
<td>
  <%= link_to admin_wechat_menus_path(appid: model.appid), aria: { label: t('wechat.admin.wechat_menus.index.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fas fa-bars"></i>
  <% end %>
  <%= link_to admin_wechat_app_wechat_responses_path(model), aria: { label: t('wechat.admin.wechat_responses.index.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fas fa-reply-all"></i>
  <% end %>
  <%= link_to admin_wechat_app_wechat_requests_path(model), aria: { label: t('wechat.admin.wechat_requests.index.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fas fa-comments"></i>
  <% end %>
  <%= link_to admin_wechat_app_wechat_tags_path(model), aria: { label: t('wechat.admin.wechat_tags.index.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fas fa-user-tag"></i>
  <% end %>
  <%= link_to admin_wechat_app_wechat_templates_path(model), aria: { label: t('wechat.admin.wechat_templates.index.title') }, class: 'button is-small is-rounded is-light' do %>
    <i class="fas fa-inbox"></i>
  <% end %>
</td>
