<th><%= WechatApp.human_attribute_name(:type) %></th>
<th><%= WechatApp.human_attribute_name(:name) %></th>
<th>
  <p><%= WechatApp.human_attribute_name(:appid) %></p>
  <p><%= WechatApp.human_attribute_name(:secret) %></p>
  <p><%= WechatApp.human_attribute_name(:agentid) %></p>
  <p><%= WechatApp.human_attribute_name(:mch_id) %></p>
  <p><%= WechatApp.human_attribute_name(:key) %></p>
</th>
<th><%= WechatApp.human_attribute_name(:encrypt_mode) %></th>
<th><%= WechatApp.human_attribute_name(:enabled) %></th>
<th><%= WechatApp.human_attribute_name(:primary) %></th>
<th></th>
<th></th>
