<td><%= model.id %></td>
<td><%= link_to model.name, { parent_id: model.id } %></td>
<td>
  <p><%= model.level %></p>
</td>
<td><%= model.parent_id %></td>
<td><%= render partial: 'index_tr_actions', locals: { model: model } %></td>