<div>
  <dt><%= Wechat::Category.human_attribute_name(:id) %></dt>
  <dd><%= @category.id %></dd>
</div>
<div>
  <dt><%= Wechat::Category.human_attribute_name(:name) %></dt>
  <dd><%= @category.name %></dd>
</div>
<div>
  <dt><%= Wechat::Category.human_attribute_name(:level) %></dt>
  <dd><%= @category.level %></dd>
</div>
