<tr>
  <td class="has-text-right"><%= Wechat::Category.human_attribute_name(:id) %></td>
  <td><%= @category.id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Category.human_attribute_name(:name) %></td>
  <td><%= @category.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Category.human_attribute_name(:level) %></td>
  <td><%= @category.level %></td>
</tr>
