<th><%= WechatPlatform.human_attribute_name(:name) %></th>
<th style="width: 70%">
  <p><%= Wechat::WechatPlatform.human_attribute_name(:appid) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:secret) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:token) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:encoding_aes_key) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:verify_ticket) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:access_token) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:access_token_expires_at) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:pre_auth_code) %></p>
  <p><%= Wechat::WechatPlatform.human_attribute_name(:pre_auth_code_expires_at) %></p>
</th>
<th></th>
