<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= WechatPlatform.human_attribute_name(:name) %></th>
      <th>
        <p><%= WechatPlatform.human_attribute_name(:appid) %></p>
        <p><%= WechatPlatform.human_attribute_name(:secret) %></p>
      </th>
      <th>
        <p><%= WechatPlatform.human_attribute_name(:token) %></p>
        <p><%= WechatPlatform.human_attribute_name(:encoding_aes_key) %></p>
      </th>
      <th><%= WechatPlatform.human_attribute_name(:verify_ticket) %></th>
      <th>
        <p><%= WechatPlatform.human_attribute_name(:access_token) %></p>
        <p><%= WechatPlatform.human_attribute_name(:access_token_expires_at) %></p>
      </th>
      <th>
        <p><%= WechatPlatform.human_attribute_name(:pre_auth_code) %></p>
        <p><%= WechatPlatform.human_attribute_name(:pre_auth_code_expires_at) %></p>
      </th>
      <th>
        <%= link_to new_panel_wechat_platform_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_platforms.each do |wechat_platform| %>
    <tr>
      <td><%= wechat_platform.name %></td>
      <td>
        <p><%= wechat_platform.appid %></p>
        <p><%= wechat_platform.secret %></p>
      </td>
      <td>
        <p><%= wechat_platform.token %></p>
        <p><%= wechat_platform.encoding_aes_key %></p>
      </td>
      <td><%= wechat_platform.verify_ticket %></td>
      <td>
        <p><%= wechat_platform.access_token %></p>
        <p><time><%= wechat_platform.access_token_expires_at.to_s(:rfc822) if wechat_platform.access_token_expires_at %></time></p>
      </td>
      <td>
        <p><%= wechat_platform.pre_auth_code %></p>
        <p><time><%= wechat_platform.pre_auth_code_expires_at.to_s(:rfc822) if wechat_platform.pre_auth_code_expires_at %></time></p>
      </td>
      <td>
        <%= link_to panel_wechat_platform_path(wechat_platform), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_panel_wechat_platform_path(wechat_platform), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to panel_wechat_platform_path(wechat_platform), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_platforms %>
