<div class="breadcrumb has-succeeds-separator">
  <ul>
    <li><%= link_to t('wechat.admin.apps.index.title'), { controller: 'apps', anchor: "tr_#{@app.id}" } %></li>
    <li><span class="px-3"><%= @app.type_i18n %></span></li>
    <li><span class="px-3"><%= @app.name %></span></li>
    <% if params['user_tags.tag_name'] %>
    <li>
      <span class="px-3"><%= @tag.name %></span>
    </li>
    <% end %>
    <li class="is-active"><%= t('.title') %></li>
  </ul>
</div>
