<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.remark %></p>
  <p><%= model.user&.id %></p>
</td>
<td>
  <p><%= model.uid %></p>
  <p class="has-text-grey"><%= model.unionid %></p>
</td>
<td>
  <% model.user_tags.each do |user_tag| %>
    <span class="tag is-success">
      <span><%= user_tag.tag.name %></span>
      <%= button_to({ controller: 'user_tags', action: 'destroy', id: user_tag.id }, method: :delete, data: { turbo_confirm: t('.confirm') }, class: 'delete is-small has-text-grey') do %>
      <% end %>
    </span>
  <% end %>
</td>
<td>
  <p><%= model.identity %></p>
  <% if model.pending_id.present? %>
  <p><%= model.pending_id %></p>
  <% else %>
  <p><%= model.external_userid %></p>
  <% end %>
</td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.unsubscribe_at&.to_fs(:iso8601) %></time></p>
</td>
