<td><%= model.name %></td>
<td>
  <p><%= model.uid %></p>
  <p class="has-text-grey"><%= model.unionid %></p>
</td>
<td>
  <% model.user_tags.each do |user_tag| %>
    <span class="tag is-success">
      <span><%= user_tag.tag.name %></span>
      <%= button_to({ controller: 'user_tags', action: 'destroy', id: user_tag.id }, method: :delete, data: { confirm: t('.confirm') }, class: 'delete is-small') do %><% end %>
    </span>
  <% end %>
</td>
<td><%= model.remark %></td>
<td>
  <p>
  <% if model.account %>
    <%= link_to model.identity, { controller: 'auth/panel/accounts', action: 'show', id: model.account.id }, data: { turbo_frame: 'modal' } %>
  <% else %>
    <%= model.identity %>
  <% end %>
  </p>
  <p><%= model.user&.id %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_s(:rfc822) %></time></td>
