<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:name) %></td>
  <td><%= @follow.external.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:gender) %></td>
  <td><%= @follow.external.gender_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Follow.human_attribute_name(:state) %></td>
  <td><%= @follow.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Follow.human_attribute_name(:add_way) %></td>
  <td><%= @follow.add_way_i18n %></td>
</tr>
