<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= WechatMenu.human_attribute_name(:id) %></th>
      <th><%= WechatMenu.human_attribute_name(:menu_type) %></th>
      <th><%= WechatMenu.human_attribute_name(:name) %></th>
      <th><%= WechatMenu.human_attribute_name(:value) %></th>
      <th><%= WechatMenu.human_attribute_name(:appid) %></th>
      <th><%= WechatMenu.human_attribute_name(:pagepath) %></th>
      <th>
        <%= link_to sync_panel_wechat_config_wechat_menus_path(@wechat_config), method: :post, class: 'ui mini green button' do %>
          <i class="fas fa-sync"></i><% t('.sync') %>
        <% end %>
        <%= link_to new_panel_wechat_config_wechat_menu_path(@wechat_config), remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><% t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_menus.each do |wechat_menu| %>
    <tr>
      <td><%= wechat_menu.id %></td>
      <td><%= wechat_menu.menu_type %></td>
      <td><%= wechat_menu.name %></td>
      <td><%= wechat_menu.value %></td>
      <td><%= wechat_menu.appid %></td>
      <td><%= wechat_menu.pagepath %></td>
      <td>
        <%= link_to edit_panel_wechat_config_wechat_menu_path(@wechat_config, wechat_menu), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to panel_wechat_config_wechat_menu_path(@wechat_config, wechat_menu), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_menus %>
