<%= render 'filter' %>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= WechatConfig.human_attribute_name(:id) %></th>
      <th><%= WechatConfig.human_attribute_name(:account) %></th>
      <th>
        <p><%= WechatConfig.human_attribute_name(:appid) %></p>
        <p><%= WechatConfig.human_attribute_name(:secret) %></p>
        <p><%= WechatConfig.human_attribute_name(:token) %></p>
        <p><%= WechatConfig.human_attribute_name(:encoding_aes_key) %></p>
      </th>
      <th>
        <p><%= WechatConfig.human_attribute_name(:corpid) %></p>
        <p><%= WechatConfig.human_attribute_name(:corpsecret) %></p>
        <p><%= WechatConfig.human_attribute_name(:agentid) %></p>
      </th>
      <th><%= WechatConfig.human_attribute_name(:enabled) %></th>
      <th><%= WechatConfig.human_attribute_name(:created_at) %></th>
      <th>
        <%= link_to new_panel_wechat_config_path, remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><% t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_configs.each do |wechat_config| %>
    <tr>
      <td><%= wechat_config.id %></td>
      <td><%= wechat_config.account %></td>
      <td>
        <p><%= wechat_config.appid %></p>
        <p><%= wechat_config.secret %></p>
        <p><%= wechat_config.token %></p>
        <p><%= wechat_config.encoding_aes_key %></p>
      </td>
      <td>
        <p><%= wechat_config.corpid %></p>
        <p><%= wechat_config.corpsecret %></p>
        <p><%= wechat_config.agentid %></p>
      </td>
      <td><%= wechat_config.enabled %></td>
      <td><time><%= wechat_config.created_at.to_s(:rfc822) %></time></td>
      <td>
        <%= link_to admin_wechat_config_path(wechat_config), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_wechat_config_path(wechat_config), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_wechat_config_path(wechat_config), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
