<th>
  <p><%= Wechat::Platform.human_attribute_name(:name) %></p>
  <p><%= Wechat::Platform.human_attribute_name(:domain) %></p>
</th>
<th style="width: 10em">
  <p><%= Wechat::Platform.human_attribute_name(:appid) %></p>
</th>
<th>
  <p><%= Wechat::Platform.human_attribute_name(:program_agency_id) %></p>
  <p><%= Wechat::Platform.human_attribute_name(:public_agency_id) %></p>
</th>
