<td>
  <p><%= model.name %></p>
  <p class="text-grey"><%= model.domain %></p>
</td>
<td>
  <p><%= model.appid %></p>
</td>
<td>
  <p class="family-monospace"><%= model.public_agency&.appid %></p>
  <p class="family-monospace"><%= model.program_agency&.appid %></p>
</td>
<td><%= render partial: 'index_tr_actions', locals: { model: model } %></td>