<table class="table is-fullwidth is-hoverable as-show">
  <tbody>
    <tr>
      <td class="text-right"><%= Wechat::Platform.human_attribute_name(:url) %></td>
      <td><%= @platform.domain %></td>
    </tr>
    <tr>
      <td class="text-right"><%= Wechat::Platform.human_attribute_name(:token) %></td>
      <td><%= @platform.token %></td>
    </tr>
    <tr>
      <td class="text-right"><%= Wechat::Platform.human_attribute_name(:encoding_aes_key) %></td>
      <td><%= @platform.encoding_aes_key %></td>
    </tr>
  </tbody>
</table>
