<tr>
  <td><%= Wechat::Platform.human_attribute_name(:name) %></td>
  <td><%= @platform.name %></td>
</tr>
<tr>
  <td><%= Wechat::Platform.human_attribute_name(:appid) %></td>
  <td><%= @platform.appid %></td>
</tr>
<tr>
  <td><%= Wechat::Platform.human_attribute_name(:secret) %></td>
  <td><%= @platform.secret %></td>
</tr>
