<div>
  <dt><%= Wechat::Platform.human_attribute_name(:name) %></dt>
  <dd><%= @platform.name %></dd>
</div>
<div>
  <dt><%= Wechat::Platform.human_attribute_name(:appid) %></dt>
  <dd><%= @platform.appid %></dd>
</div>
<div>
  <dt><%= Wechat::Platform.human_attribute_name(:secret) %></dt>
  <dd><%= @platform.secret %></dd>
</div>
