<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:name) %></td>
  <td><%= @platform.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:appid) %></td>
  <td><%= @platform.appid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:secret) %></td>
  <td><%= @platform.secret %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:verify_ticket) %></td>
  <td><%= @platform.verify_ticket %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:access_token) %></td>
  <td><%= @platform.access_token %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:access_token_expires_at) %></td>
  <td><%= @platform.access_token_expires_at %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:pre_auth_code) %></td>
  <td><%= @platform.pre_auth_code %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Platform.human_attribute_name(:pre_auth_code_expires_at) %></td>
  <td><%= @platform.pre_auth_code_expires_at %></td>
</tr>
