<td><%= model.notification.title %></td>
<td><%= model.type_i18n %></td>
<td><%= model.open_id %></td>
<td>
  <p><%= model.status %></p>
  <p><%= model.msg_id %></p>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
