<th>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:corpid) %></p>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:auth_corp_id) %></p>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:user_id) %></p>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:agent_id) %></p>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:created_at) %></p>
</th>
<th>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:info_type) %></p>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:event) %></p>
  <p><%= Wechat::SuiteReceive.human_attribute_name(:event_key) %></p>
</th>
<th style="width: 30%"><%= Wechat::SuiteReceive.human_attribute_name(:message_hash) %></th>
<th></th>