<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'apps' }, class: 'cell button is-fullwidth flex-direction-column') do %>
      <span><%= Wechat::App.count %></span>
      <span><%= t('.apps.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'menus' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.menus.index.title') %></span>
    <% end %>
  </div>
  <div class="grid">
    <%= link_to({ controller: 'organs' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.organs.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'template_configs' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.template_configs.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'categories' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.categories.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'contacts' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.contacts.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'corp_external_users' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.corp_external_users.index.title') %></span>
    <% end %>
  </div>
</div>
