<div>
  <dt><%= Wechat::Agency.human_attribute_name(:appid) %></dt>
  <dd><%= @agency.appid %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:qrcode_url) %></dt>
  <dd><%= image_tag @agency.file, class: 'image is-128x128' if @agency.file.attached? %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:release_info) %></dt>
  <dd><%= simple_format @agency.version_info['release_info'] %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:func_infos) %></dt>
  <dd><%= @agency.func_infos %></dd>
</div>
<div>
  <dt><%= Wechat::Agency.human_attribute_name(:logo) %></dt>
  <dd><%= image_tag @agency.logo if @agency.logo.attached? %></dd>
</div>
