<%= button_to({ action: 'new' }, class: 'button is-rounded is-primary') do %>
  <%= svg_tag 'plus' %>
  <span class="ml-1"><%= t('.new.title') %></span>
<% end %>
<%= button_to({ action: 'sync' }, class: 'button is-primary') do %>
  <%= svg_tag 'rotate' %>
  <span class="ml-1"><%= t('.sync.title') %></span>
<% end %>
