<th><%= TemplateConfig.human_attribute_name(:type) %></th>
<th>
  <p><%= TemplateConfig.human_attribute_name(:title) %></p>
  <p><%= TemplateConfig.human_attribute_name(:description) %></p>
</th>
<th><%= TemplateConfig.human_attribute_name(:tid) %></th>
<th>
  <p><%= TemplateConfig.human_attribute_name(:notifiable_type) %></p>
  <p><%= TemplateConfig.human_attribute_name(:code) %></p>
</th>
<th></th>
