<td>
  <p>
    <span><%= model.tid %></span>
    <span class="tag is-info"><%= model.type_i18n %></span>
  </p>
  <p><%= model.title %></p>
</td>
<td>
  <p class="text-grey"><%= model.description %></p>
  <p><%= model.content %></p>
</td>
<td>
  <p><%= model.notifiable_type %></p>
  <p><%= model.code %></p>
</td>
