<td>
  <p>
    <span><%= model.tid %></span>
    <span class="tag is-info"><%= model.type_i18n %></span>
  </p>
  <p><%= model.title %></p>
</td>
<td>
  <p class="text-grey"><%= model.description %></p>
  <p><%= model.content %></p>
</td>
<td>
  <p><%= model.notifiable_type %></p>
  <p><%= model.code %></p>
</td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ action: 'apps', id: model.id }, aria: { label: t('wechat.panel.template_configs.apps.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'shapes' %>
    <% end %>
    <%= link_to({ controller: 'template_key_words', template_config_id: model.id }, aria: { label: t('wechat.panel.template_key_words.index.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'gears' %>
    <% end %>
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'eye', class: 'icon text-info' %>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, form: { data: { turbo_confirm: t('.destroy.confirm') } }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
</td>