<table class="table is-fullwidth">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_panel_template_config_path(@template_config), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= TemplateConfig.human_attribute_name(:title) %></td>
      <td><%= @template_config.title %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= TemplateConfig.human_attribute_name(:tid) %></td>
      <td><%= @template_config.tid %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= TemplateConfig.human_attribute_name(:template_key_words) %></td>
      <td>
        <table class="ui very basic table">
        <% @template_config.template_key_words.each do |template_key_word| %>
          <tr>
            <td><%= template_key_word.kid %></td>
            <td><%= template_key_word.name %></td>
            <td><%= template_key_word.example %></td>
            <td><%= template_key_word.rule %></td>
            <td><%= template_key_word.mapping %></td>
          </tr>
        <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td class="right aligned"><%= TemplateConfig.human_attribute_name(:description) %></td>
      <td><%= @template_config.description %></td>
    </tr>
  </tbody>
</table>
