<tr>
  <td><%= Wechat::TemplateConfig.human_attribute_name(:title) %></td>
  <td><%= @template_config.title %></td>
</tr>
<tr>
  <td><%= Wechat::TemplateConfig.human_attribute_name(:tid) %></td>
  <td><%= @template_config.tid %></td>
</tr>
<tr>
  <td><%= Wechat::TemplateConfig.human_attribute_name(:template_key_words) %></td>
  <td>
    <table class="ui very basic table">
    <% @template_config.template_key_words.each do |template_key_word| %>
      <tr>
        <td><%= template_key_word.kid %></td>
        <td><%= template_key_word.name %></td>
        <td><%= template_key_word.example %></td>
        <td><%= template_key_word.rule %></td>
        <td><%= template_key_word.mapping %></td>
      </tr>
    <% end %>
    </table>
  </td>
</tr>
<tr>
  <td><%= Wechat::TemplateConfig.human_attribute_name(:description) %></td>
  <td><%= @template_config.description %></td>
</tr>
