<div>
  <dt><%= Wechat::TemplateConfig.human_attribute_name(:title) %></dt>
  <dd><%= @template_config.title %></dd>
</div>
<div>
  <dt><%= Wechat::TemplateConfig.human_attribute_name(:tid) %></dt>
  <dd><%= @template_config.tid %></dd>
</div>
<div>
  <dt><%= Wechat::TemplateConfig.human_attribute_name(:template_key_words) %></dt>
  <dd>
    <table class="table">
    <% @template_config.template_key_words.each do |template_key_word| %>
      <tr>
        <td><%= template_key_word.kid %></td>
        <td><%= template_key_word.name %></td>
        <td><%= template_key_word.example %></td>
        <td><%= template_key_word.rule %></td>
        <td><%= template_key_word.mapping %></td>
      </tr>
    <% end %>
    </table>
  </dd>
</div>
<div>
  <dt><%= Wechat::TemplateConfig.human_attribute_name(:description) %></dt>
  <dd><%= @template_config.description %></dd>
</div>
