<td class="family-monospace">
  <% if model.wechat_user.user %>
    <%= button_to model.wechat_user.user.name, { controller: 'auth/panel/users', action: 'show', id: model.wechat_user.user.id }, text: true %>
  <% else %>
    <%= button_to model.wechat_user.name.presence || model.open_id, { controller: 'auth/panel/oauth_users', action: 'show', id: model.wechat_user.id }, text: true %>
  <% end %>
</td>
<td><%= model.type_i18n %></td>
<td>
  <p><%= model.body %></p>
  <p><%= model.event %></p>
  <p><%= model.event_key %></p>
</td>
<td>
  <table class="table is-fullwidth is-borderless">
  <% model.extractions.each do |ex| %>
    <tr>
      <td><%= ex.name %></td>
      <td><%= ex.matched %></td>
      <td><%= ex.respond_text %></td>
    </tr>
  <% end %>
  </table>
</td>
<td><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.destroy.confirm') } }) do %>
      <i class="fa-solid fa-trash text-danger"></i>
    <% end %>
    <%= link_to({ controller: 'wechat_users', action: 'chat', id: model.wechat_user.id }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-inbox text-info"></i>
      <span class="ml-1"><%= t('.wechat_users.chat.title') %></span>
    <% end %>
  </div>
</td>