<div>
  <dt><%= Wechat::Request.human_attribute_name(:wechat_user_id) %></dt>
  <dd>
    <% if @request.wechat_user.user %>
      <%= @request.wechat_user.user.name %>
    <% else %>
      <%= @request.wechat_user.name %>
    <% end %>
  </dd>
</div>
<div>
  <dt><%= Wechat::Request.human_attribute_name(:body) %></dt>
  <dd><%= simple_format @request.body %></dd>
</div>
<div>
  <dt><%= Wechat::Request.human_attribute_name(:reply_body) %></dt>
  <dd><%= simple_format @request.reply_body %></dd>
</div>
