<tr>
  <td class="has-text-right"><%= Wechat::Request.human_attribute_name(:wechat_user_id) %></td>
  <td>
    <% if @request.wechat_user.user %>
      <%= link_to @request.wechat_user.user.name, panel_user_path(@request.wechat_user.user_id), text: true %>
    <% else %>
      <%= link_to @request.wechat_user.name, admin_oauth_user_path(@request.wechat_user), text: true %>
    <% end %>
  </td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Request.human_attribute_name(:body) %></td>
  <td><%= simple_format @request.body %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Request.human_attribute_name(:reply_body) %></td>
  <td><%= simple_format @request.reply_body %></td>
</tr>
