<div class="weui-form-preview">
  <div class="weui-form-preview__hd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= register.id_name %></label>
    </div>
  </div>
  <div class="weui-form-preview__bd">
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Register.human_attribute_name(:id_number) %></label>
      <div class="weui-form-preview__value"><%= wechat_register.id_number %></div>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Register.human_attribute_name(:mobile) %></label>
      <div class="weui-form-preview__value"><%= wechat_register.mobile %></div>
    </div>
    <div class="weui-form-preview__item">
      <label class="weui-form-preview__label"><%= Register.human_attribute_name(:state) %></label>
      <span class="weui-form-preview__value"><%= wechat_register.state_i18n %></span>
    </div>
  </div>
  <div class="weui-form-preview__ft">
    <%= link_to edit_my_wechat_register_path(wechat_register), aria: { label: t('.edit') }, class: 'weui-form-preview__btn weui-form-preview__btn_default' do %>
      <i class="fa-light fa-pencil-alt"></i>
    <% end %>
    <%= link_to my_wechat_register_path(wechat_register), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, class: 'weui-form-preview__btn weui-form-preview__btn_default' do %>
      <i class="fa-light fa-trash-alt"></i>
    <% end %>
    <%= link_to code_my_wechat_register_path(wechat_register), aria: { label: t('.edit') }, class: 'weui-form-preview__btn weui-form-preview__btn_default' do %>
      <i class="fa-light fa-mobile-alt"></i>
    <% end unless wechat_register.mobile_code %>
  </div>
</div>
