<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= Wechat::Register.human_attribute_name(:id_name) %></th>
      <th><%= Wechat::Register.human_attribute_name(:id_number) %></th>
      <th>
        <%= link_to new_my_register_path, class: 'button is-link is-small' do %>
          <i class="fa-solid fa-plus"></i><%= t('.new.title') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @registers.each do |register| %>
    <tr>
      <td><%= register.id_name %></td>
      <td><%= register.id_number %></td>
      <td>
        <%= link_to my_register_path(register), aria: { label: t('.show.title') }, class: 'button is-small is-borderless' do %>
          <%= svg_tag 'circle-info', class: 'icon text-info' %>
        <% end %>
        <%= link_to edit_my_register_path(register), aria: { label: t('.edit.title') }, class: 'button is-small is-borderless' do %>
          <i class="fa-solid fa-pencil"></i>
        <% end %>
        <%= link_to my_register_path(register), method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-borderless' do %>
          <%= svg_tag 'trash' %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @registers %>
