<% @registers.each do |register| %>
  <% if register.done? %>
    <%= render partial: 'register_done', locals: { model: register } %>
  <% else %>
    <%= render partial: 'register', locals: { model: register } %>
  <% end %>
<% end %>

<% if @registers.blank? %>
<div class="box">
  <%= link_to({ action: 'new' }, class: 'weui-btn_cell weui-btn_cell-primary') do %>
    <span class="weui-btn_cell__icon"><%= svg_tag 'plus' %></span>
    <span><%= t('.new.title') %></span>
  <% end %>
</div>
<% end %>
