<div>
  <dt><%= Wechat::Suite.human_attribute_name(:name) %></dt>
  <dd><%= @suite.name %></dd>
</div>
<div>
  <dt><%= Wechat::Suite.human_attribute_name(:corp_id) %></dt>
  <dd><%= @suite.corp_id %></dd>
</div>
<div>
  <dt><%= Wechat::Suite.human_attribute_name(:suite_id) %></dt>
  <dd><%= @suite.suite_id %></dd>
</div>
<div>
  <dt><%= Wechat::Suite.human_attribute_name(:secret) %></dt>
  <dd><%= @suite.secret %></dd>
</div>
<div>
  <dt><%= Wechat::Suite.human_attribute_name(:token) %></dt>
  <dd><%= @suite.token %></dd>
</div>
<div>
  <dt><%= Wechat::Suite.human_attribute_name(:encoding_aes_key) %></dt>
  <dd><%= @suite.encoding_aes_key %></dd>
</div>
<div>
  <dt><%= Wechat::Suite.human_attribute_name(:url) %></dt>
  <dd><%= @suite.url %></dd>
</div>
