<tr>
  <td class="has-text-right"><%= Wechat::Suite.human_attribute_name(:name) %></td>
  <td><%= @suite.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Suite.human_attribute_name(:corp_id) %></td>
  <td><%= @suite.corp_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Suite.human_attribute_name(:provider_secret) %></td>
  <td><%= @suite.provider_secret %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Suite.human_attribute_name(:suite_id) %></td>
  <td><%= @suite.suite_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Suite.human_attribute_name(:secret) %></td>
  <td><%= @suite.secret %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Suite.human_attribute_name(:token) %></td>
  <td><%= @suite.token %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Suite.human_attribute_name(:encoding_aes_key) %></td>
  <td><%= @suite.encoding_aes_key %></td>
</tr>
