<td><%= model.name %></td>
<td><%= model.type_i18n %></td>
<td><%= model.mch_id %></td>
<td><%= model.organ&.name %></td>
<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'payee_apps', payee_id: model.id }, aria: { label: t('wechat.admin.payee_apps.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-brands fa-amazon-pay"></i>
    <% end %>
    <%= link_to({ controller: 'payee_domains', payee_id: model.id }, aria: { label: t('wechat.admin.payee_domains.index.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-globe"></i>
    <% end %>
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-circle-info text-info"></i>
    <% end %>
  </div>
</td>