<div>
  <dt><%= Wechat::Register.human_attribute_name(:email) %></dt>
  <dd><%= @register.email %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:email_code) %></dt>
  <dd><%= @register.email_code %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_name) %></dt>
  <dd><%= @register.id_name %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:id_number) %></dt>
  <dd><%= @register.id_number %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:qrcode) %></dt>
  <dt><%= image_tag @register.qrcode if @register.qrcode.attached? %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:organ_name) %></dt>
  <dd><%= @register.organ_name %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:organ_code) %></dt>
  <dd><%= @register.organ_code %></dd>
</div>
<div>
  <dt><%= Wechat::Register.human_attribute_name(:personal_wechat) %></dt>
  <dd><%= @register.personal_wechat %></dd>
</div>
