<td>
  <p><%= model.name %></p>
  <p class="color-grey"><%= model.remark %></p>
  <p><%= model.user&.id %></p>
</td>
<td>
  <p class="has-text-mono"><%= model.uid %></p>
  <p class="has-text-mono color-grey"><%= model.unionid %></p>
</td>
<td>
<% model.user_tags.each do |user_tag| %>
  <span class="tag is-success">
    <span><%= user_tag.tag.name %></span>
    <%= button_to({ controller: 'user_tags', action: 'destroy', id: user_tag.id }, method: :delete, data: { turbo_confirm: t('.destroy.confirm') }, class: 'delete is-small color-grey') do %>
    <% end %>
  </span>
<% end %>
</td>
<td>
  <p><%= model.identity %></p>
</td>
<td>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
  <p><time data-controller="time"><%= model.unsubscribe_at&.to_fs(:iso8601) %></time></p>
</td>
