<th>
  <p><%= Wechat::WechatUser.human_attribute_name(:name) %></p>
  <p><%= Wechat::WechatUser.human_attribute_name(:remark) %></p>
</th>
<th>
  <p><%= Wechat::WechatUser.human_attribute_name(:uid) %></p>
  <p class="has-text-grey"><%= Wechat::WechatUser.human_attribute_name(:unionid) %></p>
</th>
<th><%= Wechat::WechatUser.human_attribute_name(:tags) %></th>
<th>
  <p><%= Wechat::WechatUser.human_attribute_name(:identity) %></p>
</th>
<th>
  <p><%= Wechat::WechatUser.human_attribute_name(:created_at) %></p>
  <p><%= Wechat::WechatUser.human_attribute_name(:unsubscribe_at) %></p>
</th>
