<div>
  <dt><%= Wechat::Receive.human_attribute_name(:corp_id) %></dt>
  <dd><%= @receive.corp_id %></dd>
</div>
<div>
  <dt><%= Wechat::Receive.human_attribute_name(:user_id) %></dt>
  <dd><%= @receive.user_id %></dd>
</div>
<div>
  <dt><%= Wechat::Receive.human_attribute_name(:agent_id) %></dt>
  <dd><%= @receive.agent_id %></dd>
</div>
<div>
  <dt><%= Wechat::Receive.human_attribute_name(:event) %></dt>
  <dd><%= @receive.event %></dd>
</div>
<div>
  <dt><%= Wechat::Receive.human_attribute_name(:event_key) %></dt>
  <dd><%= @receive.event_key %></dd>
</div>
<div>
  <dt><%= Wechat::Receive.human_attribute_name(:content) %></dt>
  <dd><%= @receive.content %></dd>
</div>
<div>
  <dt><%= Wechat::Receive.human_attribute_name(:message_hash) %></dt>
  <dd><%= @receive.message_hash %></dd>
</div>
