<tr>
  <td><%= Wechat::Receive.human_attribute_name(:corp_id) %></td>
  <td><%= @receive.corp_id %></td>
</tr>
<tr>
  <td><%= Wechat::Receive.human_attribute_name(:user_id) %></td>
  <td><%= @receive.user_id %></td>
</tr>
<tr>
  <td><%= Wechat::Receive.human_attribute_name(:agent_id) %></td>
  <td><%= @receive.agent_id %></td>
</tr>
<tr>
  <td><%= Wechat::Receive.human_attribute_name(:event) %></td>
  <td><%= @receive.event %></td>
</tr>
<tr>
  <td><%= Wechat::Receive.human_attribute_name(:event_key) %></td>
  <td><%= @receive.event_key %></td>
</tr>
<tr>
  <td><%= Wechat::Receive.human_attribute_name(:content) %></td>
  <td><%= @receive.content %></td>
</tr>
<tr>
  <td><%= Wechat::Receive.human_attribute_name(:message_hash) %></td>
  <td><%= @receive.message_hash %></td>
</tr>
