<div>
  <dt><%= Wechat::Partner.human_attribute_name(:mch_id) %></dt>
  <dd><%= @partner.mch_id %></dd>
</div>
<div>
  <dt><%= Wechat::Partner.human_attribute_name(:appid) %></dt>
  <dd><%= @partner.appid %></dd>
</div>
<div>
  <dt><%= Wechat::Partner.human_attribute_name(:key) %></dt>
  <dd><%= @partner.key %></dd>
</div>
<div>
  <dt><%= Wechat::Partner.human_attribute_name(:key_v3) %></dt>
  <dd><%= @partner.key_v3 %></dd>
</div>
<div>
  <dt><%= Wechat::Partner.human_attribute_name(:serial_no) %></dt>
  <dd><%= @partner.serial_no %></dd>
</div>
<div>
  <dt><%= Wechat::Partner.human_attribute_name(:apiclient_cert) %></dt>
  <dd><%= @partner.apiclient_cert.to_s.truncate(20) %></dt>
</div>
<div>
  <dt><%= Wechat::Partner.human_attribute_name(:apiclient_key) %></dt>
  <dd><%= @partner.apiclient_key.to_s.truncate(20) %></dt>
</div>
