<%= render 'filter' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= WechatNotice.human_attribute_name(:notifiable_type) %></th>
      <th><%= WechatNotice.human_attribute_name(:code) %></th>
      <th><%= WechatNotice.human_attribute_name(:mappings) %></th>
      <th>
        <%= link_to new_admin_wechat_template_wechat_notice_path(@wechat_template), remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_notices.each do |wechat_notice| %>
    <tr>
      <td><%= wechat_notice.notifiable_type %></td>
      <td><%= wechat_notice.code %></td>
      <td><%= simple_format wechat_notice.mappings %></td>
      <td>
        <%= link_to edit_admin_wechat_template_wechat_notice_path(@wechat_template, wechat_notice), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_wechat_template_wechat_notice_path(@wechat_template, wechat_notice), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_notices %>
