<td>
  <p> <span class="tag"><%= model.msg_type %></span></p>
  <p><%= model.appid %></p>
  <p><%= model.open_id %></p>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
<td><%= simple_format model.message_hash %></td>
