<tr>
  <td><%= Wechat::Response.human_attribute_name(:match_value) %></td>
  <td><%= @response.match_value %></td>
</tr>
<tr>
  <td><%= Wechat::Response.human_attribute_name(:contain) %></td>
  <td>
    <%= form_with theme: nil, model: @response, url: { action: 'update' }, data: { controller: 'input' } do |f| %>
      <%= f.check_box :contain, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
      <label data-action="click->input#check"></label>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= Wechat::Response.human_attribute_name(:request_type) %></td>
  <td>
    <% @response.response_requests.each do |response_request| %>
      <p><%= Wechat::Request.enum_i18n(:type, response_request.request_type) %></p>
    <% end %>
  </td>
</tr>
<tr>
  <td><%= Wechat::Response.human_attribute_name(:effective) %></td>
  <td>
    <turbo-frame id="reply">
      <span><%= @response.effective_type_i18n %></span>
      <%= link_to({ action: 'edit_reply', id: @response.id }, data: { turbo_frame: 'reply' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
    </turbo-frame>
    <p><%= @response.effective_id %></p>
  </td>
</tr>
