
<%= link_to t('wechat.panel.organs.index.title'), { controller: 'wechat/panel/organs' }, class: active_helper(controllers: 'organs', active: 'is-active') %>
<%= link_to t('wechat.panel.template_configs.index.title'), { controller: 'wechat/panel/template_configs' }, class: active_helper(controllers: 'template_configs', active: 'is-active') %>
<%= link_to t('wechat.panel.categories.index.title'), { controller: 'wechat/panel/categories' }, class: active_helper(controllers: 'categories', active: 'is-active') %>
<%= link_to t('wechat.panel.contacts.index.title'), { controller: 'wechat/panel/contacts' }, class: active_helper(controllers: 'contacts', active: 'is-active') %>
<%= link_to t('wechat.panel.corp_external_users.index.title'), { controller: 'wechat/panel/corp_external_users' }, class: active_helper(controllers: 'corp_external_users', active: 'is-active') %>


<div class="level has-text-centered">
  <div class="level-item">
    <div>
      <p class="heading">App 总数</p>
      <p class="title"><%= Wechat::App.count %></p>
    </div>
  </div>
</div>
