<div>
  <dt><%= Wechat::Payee.human_attribute_name(:mch_id) %></dt>
  <dd><%= @payee.mch_id %></dd>
</div>
<div>
  <dt><%= Wechat::Payee.human_attribute_name(:key) %></dt>
  <dd><%= @payee.key %></dd>
</div>
<% if @payee.is_a?(Wechat::MchPayee) %>
<div>
  <dt><%= Wechat::Payee.human_attribute_name(:key_v3) %></dt>
  <dd><%= @payee.key_v3 %></dd>
</div>
<% end %>
<div>
  <dt><%= Wechat::Payee.human_attribute_name(:serial_no) %></dt>
  <dd><%= @payee.serial_no %></dd>
</div>
<div>
  <dt><%= Wechat::Payee.human_attribute_name(:apiclient_cert) %></dt>
  <dd><%= @payee.apiclient_cert.to_s.truncate(20) %></dd>
</div>
<div>
  <dt><%= Wechat::Payee.human_attribute_name(:apiclient_key) %></dt>
  <dd><%= @payee.apiclient_key.to_s.truncate(20) %></dd>
</div>
