<td>
  <p class="family-monospace"><%= model.external_userid %></p>
  <p class="family-monospace text-grey"><%= model.pending_id %></p>
</td>
<td>
  <p>
    <span><%= model.name %></span>
    <span class="tag"><%= model.add_way_i18n %></span>
  </p>
  <p><%= model.client.gender_i18n %></p>
</td>
<td>
  <p><%= model.member.name %></p>
  <p><time data-controller="time"><%= model.created_at.to_fs(:iso8601) %></time></p>
</td>
