<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:corp_id) %></td>
  <td><%= @external.corp_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:userid) %></td>
  <td><%= @external.userid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:state) %></td>
  <td><%= @external.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:name) %></td>
  <td><%= @external.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:remark) %></td>
  <td><%= @external.remark %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:gender) %></td>
  <td><%= @external.gender %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:add_way) %></td>
  <td><%= @external.add_way %></td>
</tr>
