<tr>
  <td><%= Crm::Maintain.human_attribute_name(:userid) %></td>
  <td><%= @maintain.external_userid %></td>
</tr>
<tr>
  <td><%= Crm::Maintain.human_attribute_name(:name) %></td>
  <td><%= @maintain.name %></td>
</tr>
<tr>
  <td><%= Crm::Maintain.human_attribute_name(:remark) %></td>
  <td><%= @maintain.remark %></td>
</tr>
<tr>
  <td><%= Crm::Maintain.human_attribute_name(:gender) %></td>
  <td><%= @maintain.client.gender_i18n %></td>
</tr>
<tr>
  <td><%= Crm::Maintain.human_attribute_name(:add_way) %></td>
  <td><%= @maintain.add_way_i18n %></td>
</tr>
