<td>
  <p class="is-several">
    <%= image_tag model.head_img, class: 'image is-24x24' if model.head_img %>
    <span><%= model.nick_name %></span>
    <% if [model.platform.program_agency_id].include?(model.id) %>
      <i class="fa-solid fa-shield has-text-success"></i>
    <% end %>
  </p>
  <p class="has-text-grey"><%= model.appid %></p>
  <p class="has-text-grey"><%= model.domain %></p>
</td>
<td>
  <p><%= model.principal_name %></p>
  <p><%= model.user_name %></p>
  <p><%= model.alias_name %></p>
  <p class="has-text-grey"><%= model.disabled_func_infos.join(',') %></p>
</td>
<td>
<% if model.version_info.is_a?(Hash) %>
  <div>
    <span><%= model.version_info.dig('release_info', 'release_version') %></span>
    <time data-controller="time" class="has-text-grey"><%= model.version_info.dig('release_info', 'release_time') %></time>
  </div>
  <div class="mt-1">
    <span><%= model.version_info.dig('exp_info', 'exp_version') %></span>
    <time data-controller="time" class="has-text-grey"><%= model.version_info.dig('exp_info', 'exp_time') %></time>
    <%= button_to({ action: 'submit', id: model.id }, aria: { label: t('wechat.panel.program_agencies.submit.title') }, class: 'button is-small is-rounded is-light') do %>
      <i class="fa-solid fa-upload has-text-danger"></i>
    <% end %>
  </div>
<% end %>
</td>
<td>
  <span><%= model.audit_status_i18n %></span>
  <%= button_to({ action: 'release', id: model.id }, aria: { label: t('wechat.panel.program_agencies.release.title') }, class: 'button is-small is-rounded is-light') do %>
    <i class="fa-solid fa-cloud-arrow-up has-text-success"></i>
  <% end if model.releasable? %>
</td>
