<th>
  <p><%= Wechat::Agency.human_attribute_name(:nick_name) %></p>
  <p class="has-text-grey"><%= Wechat::Agency.human_attribute_name(:appid) %></p>
  <p><%= Wechat::Agency.human_attribute_name(:domain) %></p>
</th>
<th><%= Wechat::Agency.human_attribute_name(:release_info) %></th>
<th>
  <p><%= Wechat::Agency.human_attribute_name(:principal_name) %></p>
  <p><%= Wechat::Agency.human_attribute_name(:user_name) %></p>
  <p><%= Wechat::Agency.human_attribute_name(:alias_name) %></p>
  <p><%= Wechat::Agency.human_attribute_name(:disabled_func_infos) %></p>
</th>
<th><%= Wechat::Agency.human_attribute_name(:audit_status) %></th>
