<th>
  <p><%= Wechat::WechatUser.human_attribute_name(:name) %></p>
  <p class="has-text-grey"><%= Wechat::WechatUser.human_attribute_name(:uid) %></p>
</th>
<th><%= Wechat::WechatUser.human_attribute_name(:tags) %></th>
<th><%= Wechat::WechatUser.human_attribute_name(:remark) %></th>
<th>
  <p><%= Wechat::WechatUser.human_attribute_name(:identity) %></p>
  <p><%= Wechat::WechatUser.human_attribute_name(:user_id) %></p>
</th>
<th>
  <p><%= Wechat::WechatUser.human_attribute_name(:created_at) %></p>
  <p><%= Wechat::WechatUser.human_attribute_name(:unsubscribe_at) %></p>
</th>
