<tr id="tr_<%= model.id %>">
  <%= yield %>
  <td>
  <% if @select_uids.include?(model.uid) %>
    <%= button_to({ action: 'destroy_openid', uid: model.uid }, method: :delete, data: { turbo_confirm: t('.confirm') }, class: 'button is-small is-danger') do %>
      <i class="fa-solid fa-times"></i>
      <span class="pl-1"><%= t('.destroy') %></span>
    <% end %>
  <% else %>
    <%= link_to({ action: 'new_openid', 'receiver[account]': model.uid }, data: { turbo_frame: 'modal' }, class: 'button is-small is-success') do %>
      <i class="fa-solid fa-plus"></i>
      <span class="pl-1"><%= t('.new') %></span>
    <% end %>
  <% end %>
  </td>
</tr>
