<td>
  <%= link_to({ controller: 'org/panel/organs', action: 'show', id: model.id }, class: 'is-several') do %>
    <%= image_tag model.logo, class: 'image is-64x64' if model.logo.attached? %>
    <span><%= model.name %></span>
  <% end %>
</td>
<td><%= model.name_short %></td>
<td><%= model.appid %></td>
<td>
  <time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time>
</td>
