<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:name) %></td>
  <td><%= @organ.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:organ_uuid) %></td>
  <td><%= @organ.organ_uuid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:area_id) %></td>
  <td><%= @organ.area&.full_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Org::Organ.human_attribute_name(:limit_wechat) %></td>
  <td><%= @organ.limit_wechat %></td>
</tr>
