<th>
  <p><%= Org::Member.human_attribute_name(:name) %></p>
  <p class="text-grey"><%= Org::Member.human_attribute_name(:identity) %></p>
</th>
<th><%= Org::Member.human_attribute_name(:join_on) %></th>
<th>
  <p class="text-info"><%= Org::Member.human_attribute_name(:corp_userid) %></p>
  <p><%= Org::Member.human_attribute_name(:wechat_openid) %></p>
</th>
