<td><%= model.notification.title %></td>
<td><%= model.type_i18n %></td>
<td>
<% if model.wechat_user %>
  <%= model.wechat_user.name %>
<% end %>
</td>
<td>
  <p><%= model.status %></p>
  <p><%= model.msg_id %></p>
</td>
<td><time data-controller="time" data-format="human"><%= model.created_at.to_fs(:iso8601) %></time></td>
