<th>
  <p><%= Wechat::Notice.human_attribute_name(:notification_id) %></p>
  <p><%= Wechat::Notice.human_attribute_name(:type) %></p>
</th>
<th><%= Wechat::Notice.human_attribute_name(:data) %></th>
<th><%= Wechat::Notice.human_attribute_name(:open_id) %></th>
<th>
  <p><%= Wechat::Notice.human_attribute_name(:status) %></p>
  <p><%= Wechat::Notice.human_attribute_name(:created_at) %></p>
</th>
