<th>
  <p><%= Wechat::External.human_attribute_name(:userid) %></p>
  <p class="text-grey"><%= Wechat::External.human_attribute_name(:corp_id) %></p>
</th>
<th><%= Wechat::External.human_attribute_name(:state) %></th>
<th>
  <p><%= Wechat::External.human_attribute_name(:name) %></p>
  <p class="text-grey"><%= Wechat::External.human_attribute_name(:remark) %></p>
</th>
<th><%= Wechat::External.human_attribute_name(:gender) %></th>
<th><%= Wechat::External.human_attribute_name(:add_way) %></th>
<th></th>