<td>
  <p><%= model.userid %></p>
  <p class="text-grey"><%= model.corp_id %></p>
</td>
<td><%= model.state %></td>
<td>
  <p><%= model.name %></p>
  <p class="text-grey"><%= model.remark %></p>
</td>
<td><%= model.gender_i18n %></td>
<td><%= model.add_way_i18n %></td>
<td><%= render partial: 'index_tr_actions', locals: { model: model } %></td>