<div>
  <dt><%= Wechat::Follow.human_attribute_name(:corp_id) %></dt>
  <dd><%= @follow.corp_id %></dd>
</div>
<div>
  <dt><%= Wechat::Follow.human_attribute_name(:userid) %></dt>
  <dd><%= @follow.userid %></dd>
</div>
<div>
  <dt><%= Wechat::Follow.human_attribute_name(:state) %></dt>
  <dd><%= @follow.state %></dd>
</div>
<div>
  <dt><%= Wechat::Follow.human_attribute_name(:remark) %></dt>
  <dd><%= @follow.remark %></dd>
</div>
<div>
  <dt><%= Wechat::Follow.human_attribute_name(:add_way) %></dt>
  <dd><%= @follow.add_way_i18n %></dd>
</div>
