<tr>
  <td><%= Wechat::Follow.human_attribute_name(:corp_id) %></td>
  <td><%= @follow.corp_id %></td>
</tr>
<tr>
  <td><%= Wechat::Follow.human_attribute_name(:userid) %></td>
  <td><%= @follow.userid %></td>
</tr>
<tr>
  <td><%= Wechat::Follow.human_attribute_name(:state) %></td>
  <td><%= @follow.state %></td>
</tr>
<tr>
  <td><%= Wechat::Follow.human_attribute_name(:remark) %></td>
  <td><%= @follow.remark %></td>
</tr>
<tr>
  <td><%= Wechat::Follow.human_attribute_name(:add_way) %></td>
  <td><%= @follow.add_way_i18n %></td>
</tr>
