<div class="ui modal" id="modal">
  <i class="close icon"></i>
  <div class="ui header">
    <%= t('.edit') %>
  </div>

  <div class="content">
    <%= form_with model: @template_config, scope: :template_config, url: admin_template_config_path(@template_config) do |f| %>
      <%= render 'shared/error_messages', target: @template_config %>
      <%= f.fields :template_key_words, on: { wrap_all: false, label: false, placeholder: true }, css: { wrap_input: 'field' } do |ef| %>
        <%= render partial: 'item_form', locals: { ef: ef } %>
      <% end %>
      <%= f.text_field :notifiable_type %>
      <%= f.text_field :code %>
      <%= f.text_field :description %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
