<tr id="tr_<%= model.id %>" data-depth="<%= model.parent_id.blank? ? '10' : '0' %>" data-controller="tree show" data-tree-target="item" data-action="mouseenter->show#show mouseleave->show#hide" class="<%= 'has-background-white-ter' if model.appid.blank? %>">
  <%= yield %>
  <td>
    <div data-show-target="item" style="visibility: hidden">
    <% if model.organ_id == current_organ.id %>
      <% if model.type == 'Wechat::ParentMenu' %>
        <%= link_to({ action: 'edit_parent', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
          <i class="fa-light fa-pencil"></i>
        <% end %>
      <% else %>
        <%= link_to({ action: 'edit', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit') }, class: 'button is-small is-rounded is-light') do %>
          <i class="fa-light fa-pencil"></i>
        <% end %>
      <% end %>
      <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy') }, class: 'button is-small is-rounded is-light', form: { data: { turbo_confirm: t('.confirm') } }) do %>
        <i class="fa-light fa-trash"></i>
      <% end %>
    <% end %>
    </div>
  </td>
</tr>
<% model.children.each do |child| %>
  <%= render partial: 'index_tbody', layout: 'index_tr', locals: { model: child } %>
<% end %>
