<td>
  <p><%= model.userid %></p>
  <p class="has-text-grey"><%= model.corp_id %></p>
</td>
<td><%= model.state %></td>
<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.remark %></p>
</td>
<td><%= model.gender_i18n %></td>
<td><%= model.add_way_i18n %></td>
