<tr>
  <td class="has-text-right"><%= Wechat::Payee.human_attribute_name(:name) %></td>
  <td><%= @payee_app.payee.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Payee.human_attribute_name(:mch_id) %></td>
  <td><%= @payee_app.payee.mch_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Payee.human_attribute_name(:domain) %></td>
  <td><%= @payee_app.domain %></td>
</tr>
