<th><%= WechatTemplate.human_attribute_name(:template_id) %></th>
<th><%= WechatTemplate.human_attribute_name(:title) %></th>
<th>
  <p><%= WechatTemplate.human_attribute_name(:content) %></p>
  <p><%= WechatTemplate.human_attribute_name(:example) %></p>
</th>
<th><%= WechatTemplate.human_attribute_name(:template_type) %></th>
<th></th>
