<th><%= Wechat::WechatTemplate.human_attribute_name(:template_id) %></th>
<th><%= Wechat::WechatTemplate.human_attribute_name(:title) %></th>
<th>
  <p><%= Wechat::WechatTemplate.human_attribute_name(:content) %></p>
  <p><%= Wechat::WechatTemplate.human_attribute_name(:example) %></p>
</th>
<th><%= Wechat::WechatTemplate.human_attribute_name(:template_type) %></th>
<th></th>
