<tr>
  <td class="has-text-right"><%= Wechat::WechatTemplate.human_attribute_name(:template_id) %></td>
  <td><%= @wechat_template.template_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatTemplate.human_attribute_name(:title) %></td>
  <td><%= @wechat_template.title %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatTemplate.human_attribute_name(:content) %></td>
  <td><%= @wechat_template.content %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatTemplate.human_attribute_name(:example) %></td>
  <td><%= @wechat_template.example %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::WechatTemplate.human_attribute_name(:template_type) %></td>
  <td><%= @wechat_template.template_type %></td>
</tr>
