<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= WechatTemplate.human_attribute_name(:template_id) %></th>
      <th><%= WechatTemplate.human_attribute_name(:title) %></th>
      <th>
        <p><%= WechatTemplate.human_attribute_name(:content) %></p>
        <p><%= WechatTemplate.human_attribute_name(:example) %></p>
      </th>
      <th><%= WechatTemplate.human_attribute_name(:template_type) %></th>
      <th>
        <% if params[:wechat_app_id] %>
          <%= link_to sync_admin_wechat_app_wechat_templates_path(params[:wechat_app_id]), method: :post, class: 'button is-link is-small' do %>
            <i class="fas fa-sync"></i><% t('.sync') %>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_templates.each do |wechat_template| %>
    <tr>
      <td><%= wechat_template.template_id %></td>
      <td><%= wechat_template.title %></td>
      <td>
        <p><%= wechat_template.content %></p>
        <p class="has-text-grey"><p><%= wechat_template.example %></p></p>
      </td>
      <td><%= wechat_template.template_type %></td>
      <td>
        <div data-controller="input">
          <%= check_box_tag '', nil, true, data: { method: :delete, remote: true, url: admin_wechat_app_wechat_template_path(@wechat_app, wechat_template), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
          <label></label>
        </div>
      </td>
    </tr>
  <% end %>
  <% @template_configs.each do |template_config| %>
    <tr>
      <td></td>
      <td><%= template_config.title %></td>
      <td>
        <p><%= template_config.content %></p>
      </td>
      <td></td>
      <td>
        <div data-controller="input">
          <%= check_box_tag '[wechat_template]template_config_id', template_config.id, false, data: { method: :post, remote: true, url: admin_wechat_app_wechat_templates_path(@wechat_app), action: 'input#submit' }, id: nil, class: 'switch is-rounded' %>
          <label></label>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_templates %>
