<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= WechatTemplate.human_attribute_name(:template_id) %></th>
      <th><%= WechatTemplate.human_attribute_name(:title) %></th>
      <th>
        <p><%= WechatTemplate.human_attribute_name(:content) %></p>
        <p><%= WechatTemplate.human_attribute_name(:example) %></p>
      </th>
      <th><%= WechatTemplate.human_attribute_name(:template_type) %></th>
      <th>
        <% if params[:wechat_app_id] %>
          <%= link_to sync_admin_wechat_app_wechat_templates_path(params[:wechat_app_id]), method: :post, class: 'ui mini green button' do %>
            <i class="fas fa-sync"></i><% t('.sync') %>
          <% end %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_templates.each do |wechat_template| %>
    <tr>
      <td><%= wechat_template.template_id %></td>
      <td><%= wechat_template.title %></td>
      <td>
        <p><%= wechat_template.content %></p>
        <p class="grey text"><p><%= wechat_template.example %></p></p>
      </td>
      <td><%= wechat_template.template_type %></td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '', nil, true, data: { method: :delete, remote: true, url: admin_wechat_app_wechat_template_path(@wechat_app, wechat_template), submit: true }, id: nil %>
        </div>
      </td>
    </tr>
  <% end %>
  <% @public_templates.each do |public_template| %>
    <tr>
      <td></td>
      <td><%= public_template.title %></td>
      <td>
        <p><%= public_template.content %></p>
      </td>
      <td></td>
      <td>
        <div class="ui toggle checkbox">
          <%= check_box_tag '[wechat_template]public_template_id', public_template.id, false, data: { method: :post, remote: true, url: admin_wechat_app_wechat_templates_path(@wechat_app), submit: true }, id: nil %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_templates %>
