<tr>
  <td><%= Wechat::Subscribe.human_attribute_name(:template) %></td>
  <td><%= @subscribe.template %></td>
</tr>
<tr>
  <td><%= Wechat::Subscribe.human_attribute_name(:status) %></td>
  <td><%= @subscribe.status %></td>
</tr>
<tr>
  <td><%= Wechat::Subscribe.human_attribute_name(:sending_at) %></td>
  <td><%= @subscribe.sending_at %></td>
</tr>
