<div>
  <dt><%= Wechat::Subscribe.human_attribute_name(:template) %></dt>
  <dd><%= @subscribe.template %></dd>
</div>
<div>
  <dt><%= Wechat::Subscribe.human_attribute_name(:status) %></dt>
  <dd><%= @subscribe.status %></dd>
</div>
<div>
  <dt><%= Wechat::Subscribe.human_attribute_name(:sending_at) %></dt>
  <dd><%= @subscribe.sending_at %></dd>
</div>
