<td><%= model.name %></td>
<td>
  <p class="text-success"><%= model.prefix.inspect if model.prefix %></p>
  <p class="text-danger"><%= model.suffix.inspect if model.suffix %></p>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :more, data: { action: 'input#submit' }, id: nil %>
  <% end %>
</td>
<td>
  <p><%= model.start_at.to_fs(:time) if model.start_at %></p>
  <p><%= model.finish_at.to_fs(:time) if model.finish_at %></p>
</td>
<td>
  <p class="text-success"><%= model.valid_response %></p>
  <p class="text-danger"><%= model.invalid_response %></p>
</td>
<td>
  <%= form_with theme: 'switch', model: model, url: { action: 'update', id: model.id }, data: { controller: 'input' } do |f| %>
    <%= f.check_box :serial, data: { action: 'input#submit' }, id: nil %>
  <% end %>
  <p><%= model.serial_start %></p>
</td>
