<th><%= Wechat::Extractor.human_attribute_name(:name) %></th>
<th>
  <p class="text-success"><%= Wechat::Extractor.human_attribute_name(:prefix) %></p>
  <p class="text-danger"><%= Wechat::Extractor.human_attribute_name(:suffix) %></p>
</th>
<th><%= Wechat::Extractor.human_attribute_name(:more) %></th>
<th>
  <p><%= Wechat::Extractor.human_attribute_name(:start_at) %></p>
  <p><%= Wechat::Extractor.human_attribute_name(:finish_at) %></p>
</th>
<th>
  <p class="text-success"><%= Wechat::Extractor.human_attribute_name(:valid_response) %></p>
  <p class="text-danger"><%= Wechat::Extractor.human_attribute_name(:invalid_response) %></p>
</th>
<th>
  <p><%= Wechat::Extractor.human_attribute_name(:serial) %></p>
  <p><%= Wechat::Extractor.human_attribute_name(:serial_start) %></p>
</th>
<th></th>