<table class="ui very basic large table">
  <thead>
    <tr>
      <th class="six wide">
        <%= link_to t('.edit'), edit_admin_extractor_path(@extractor), class: 'ui mini blue right floated button', remote: true %>
      </th>
      <th class="ten wide"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="right aligned"><%= Extractor.human_attribute_name(:name) %></td>
      <td><%= @extractor.name %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Extractor.human_attribute_name(:prefix) %></td>
      <td><%= @extractor.prefix %></td>
    </tr>
    <tr>
      <td class="right aligned"><%= Extractor.human_attribute_name(:suffix) %></td>
      <td><%= @extractor.suffix %></td>
    </tr>
  </tbody>
</table>
