<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:name) %></dt>
  <dd><%= @extractor.name %></dd>
</div>
<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:prefix) %></dt>
  <dd><%= @extractor.prefix %></dd>
</div>
<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:suffix) %></dt>
  <dd><%= @extractor.suffix %></dd>
</div>
<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:serial_start) %></dt>
  <dd><%= @extractor.serial_start %></dd>
</div>
<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:start_at) %></dt>
  <dd><%= @extractor.start_at %></dd>
</div>
<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:finish_at) %></dt>
  <dd><%= @extractor.finish_at %></dd>
</div>
<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:valid_response) %></dt>
  <dd><%= @extractor.valid_response %></dd>
</div>
<div>
  <dt><%= Wechat::Extractor.human_attribute_name(:invalid_response) %></dt>
  <dd><%= @extractor.invalid_response %></dd>
</div>
