<%= form_with theme: 'search', model: WechatResponse.new do |f| %>
  <div class="field-body">
    <%= f.text_field :name %>
    <div class="field is-narrow">
      <%= f.submit %>
      <%= link_to t('.clear'), filter_params(only: [:name]), class: 'button is-light' %>
    </div>
  </div>
<% end %>
<div class="ui divider"></div>
<dl>
  <dt><%= WechatResponse.human_attribute_name(:request_type) %></dt>
  <dd>
    <%= link_to t('.all'), filter_params(except: [:request_type]), class: active_params(request_type: '', active_class: 'button is-info', item_class: 'button is-light') %>
    <% WechatRequest.options_i18n(:request_type).each do |text, value| %>
      <%= link_to text, filter_params(request_type: value), class: active_params(request_type: value, active_class: 'button is-info', item_class: 'button is-light') %>
    <% end %>
  </dd>
</dl>
