<% content_for :breadcrumb do %>
  <div class="ui basic segment breadcrumb">
    <%= link_to t('wechat.admin.wechat_configs.index.title'), admin_wechat_configs_path, class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <%= link_to @wechat_config.account, admin_wechat_configs_path(id: @wechat_config.id), class: 'section' %>
    <i class="fas fa-angle-right divider"></i>
    <div class="section"><%= t('.title') %></div>
  </div>
<% end %>

<div class="ui top attached segment">
  <%= render 'filter' %>
</div>

<table class="ui bottom attached selectable table">
  <thead>
    <tr>
      <th><%= WechatResponse.human_attribute_name(:id) %></th>
      <th><%= WechatResponse.human_attribute_name(:type) %></th>
      <th><%= WechatResponse.human_attribute_name(:name) %></th>
      <th><%= WechatResponse.human_attribute_name(:match_value) %></th>
      <th>
        <p class="ui green text"><%= WechatResponse.human_attribute_name(:valid_response) %></p>
        <p class="ui red text"><%= WechatResponse.human_attribute_name(:invalid_response) %></p>
      </th>
      <th>
        <p><%= WechatResponse.human_attribute_name(:start_at) %></p>
        <p><%= WechatResponse.human_attribute_name(:finish_at) %></p>
      </th>
      <th>
        <%= link_to new_admin_wechat_config_wechat_response_path(@wechat_config), remote: true, class: 'ui mini green button' do %>
          <i class="fas fa-plus"></i><% t('.new') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_responses.each do |wechat_response| %>
    <tr>
      <td><%= wechat_response.id %></td>
      <td><%= wechat_response.type_i18n %></td>
      <td><%= wechat_response.name %></td>
      <td>
        <%= wechat_response.match_value %>
        <% if wechat_response.is_a?(ScanResponse) %>
          <%= image_tag wechat_response.qrcode_file, class: 'ui small image' %>
        <% end %>
      </td>
      <td>
        <p class="ui green text"><%= wechat_response.valid_response %></p>
        <p class="ui red text"><%= wechat_response.invalid_response %></p>
      </td>
      <td>
        <p><%= wechat_response.start_at.to_s(:time) %></p>
        <p><%= wechat_response.finish_at.to_s(:time) %></p>
      </td>
      <td>
        <%= link_to admin_wechat_config_wechat_response_path(@wechat_config, wechat_response), data: { tooltip: t('.show') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_admin_wechat_config_wechat_response_path(@wechat_config, wechat_response), data: { tooltip: t('.edit') }, remote: true, class: 'ui mini circular icon button' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to admin_wechat_config_wechat_response_path(@wechat_config, wechat_response), method: :delete, data: { tooltip: t('.destroy'), confirm: t('.confirm') }, class: 'ui mini circular icon button' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_responses %>
