<th>
  <p><%= Wechat::CorpExternalUser.human_attribute_name(:app_id) %></p>
  <p><%= Wechat::CorpExternalUser.human_attribute_name(:corp_id) %></p>
</th>
<th>
  <p class="text-success"><%= Wechat::CorpExternalUser.human_attribute_name(:uid) %></p>
  <p><%= Wechat::CorpExternalUser.human_attribute_name(:unionid) %></p>
</th>
<th>
  <p class="text-success"><%= Wechat::CorpExternalUser.human_attribute_name(:external_userid) %></p>
  <p class="text-info"><%= Wechat::CorpExternalUser.human_attribute_name(:pending_id) %></p>
</th>
<th>
  <%= Wechat::CorpExternalUser.human_attribute_name(:created_at) %>
</th>
<th></th>