<%= link_to({ controller: 'auth/my/home' }, text: true, state: 'enter', class: 'media') do %>
  <div class="media-left">
  <% if current_member&.avatar.present? %>
    <%= image_tag current_member.avatar, class: 'image is-64x64 is-radius' %>
  <% else %>
    <div class="is-avatar">
      <div class="text"><%= current_member ? current_member.name.to_s[0] : current_user.name.to_s[0] %></div>
    </div>
  <% end %>
  </div>
  <div class="media-content">
    <% if request.variant.include?(:work_wechat) %>
      <div data-controller="open-data" data-open-data-url-value="<%= session[:enter_url] %>">
        <div data-open-data-target="tag" type="userName" openid="<%= current_corp_user&.user_id %>"></div>
      </div>
    <% else %>
      <p><%= current_member ? current_member.name : current_user.name %></p>
    <% end %>
    <p class="has-text-grey"><%= current_organ.name %></p>
  </div>
  <div class="weui-media-box__ft pr-4">
    <i class="fa-solid fa-qrcode pl-0"></i>
  </div>
<% end %>
