<%= link_to({ controller: 'auth/my/home' }, text: true, class: 'weui-media-box weui-media-box_appmsg') do %>
  <div class="weui-media-box__hd">
    <div class="is-avatar">
      <div class="text">一</div>
    </div>
  </div>
  <div class="weui-media-box__bd">
    <% if request.variant.include?(:work_wechat) %>
      <div data-controller="open-data" data-open-data-url-value="<%= session[:enter_url] %>" type="userName" openid="<%= current_corp_user&.user_id %>"></div>
    <% else %>
      <p><%= current_member.name %></p>
    <% end %>
    <p class="has-text-grey"><%= current_organ.name %></p>
  </div>
<% end %>
