<div class="media">
  <div class="media-left">
    <% if request.wechat_user.avatar_url.present? %>
      <%= image_tag request.wechat_user.avatar_url, class: 'image is-64x64' %>
    <% else %>
      <%= image_tag 'avatar.png', class: 'image is-64x64' %>
    <% end %>
  </div>
  <div class="media-content">
    <h4 class="weui-media-box__title">
      <span><%= request.wechat_user.name %></span>
      <span class="weui-badge"><%= request.type_i18n %></span>
      <% if request.created_at <= request.wechat_user.created_at %>
        <span class="tag is-success">邀请成功</span>
      <% end %>
    </h4>
    <p class="size-7 pt-1 text-grey">
      <span><%= request.aim_i18n %></span>
      <time data-controller="time" data-format="human"><%= request.wechat_user.created_at.to_fs(:iso8601) %></time>
    </p>
    <p class="size-7 pt-1 text-grey">
      <span>扫码时间：</span>
      <time data-controller="time" data-format="human"><%= request.created_at.to_fs(:iso8601) %></time>
    </p>
  </div>
</div>
