<% if rails_role_user.any_role?('wechat/admin') %>
<div class="item">
  <a class="<%= active_helper(modules: 'wechat/admin', active_class: 'title active', item_class: 'title') %>">
    <i class="fas fa-cog"></i>
    <span><%= t('wechat.admin.title') %></span>
    <i class="dropdown icon"></i>
  </a>
  <div class="<%= active_helper(modules: 'wechat/admin', active_class: 'menu content active', item_class: 'menu content') %>">
    <%= link_to '微信设置', admin_wechat_apps_path, class: active_helper(controllers: 'wechat_apps') %>
    <%= link_to '解析设置', admin_extractors_path, class: active_helper(controllers: 'extractors') %>
  </div>
</div>
<% end %>
