<div class="<%= active_helper(modules: 'wechat/admin', active_class: 'menu ex-accordion is-active', item_class: 'menu ex-accordion') %>" data-controller="menu">
  <%= content_tag :div, class: 'menu-list' do -%>
    <%= link_to t('wechat.admin.wechat_apps.index.title'), admin_wechat_apps_path, class: active_helper(controllers: 'wechat_apps') %>
    <%= link_to t('wechat.admin.template_configs.index.title'), admin_template_configs_path, class: active_helper(controllers: 'template_configs') %>
  <% end %>
  <a class="menu-label" data-action="menu#toggle">
    <i class="fab fa-weixin"></i>
    <span><%= t('wechat.admin.title') %></span>
    <i class="fas dropdown"></i>
  </a>
</div>
