<td>
  <div data-show-target="item" class="visibility-hidden">
    <%= link_to({ controller: 'maintains', corp_id: model.id }, aria: { label: t('wechat.panel.maintains.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-users-line text-success"></i>
    <% end %>
    <%= link_to({ controller: 'corp_users', corp_id: model.id }, aria: { label: t('wechat.panel.corp_users.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-users text-info"></i>
    <% end %>
    <%= link_to({ controller: 'suite_receives', suite_id: model.suite_id, **model.receive_filter }, aria: { label: t('wechat.panel.suite_receives.index.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-message text-success"></i>
    <% end %>
  </div>
  <div data-show-target="item" class="visibility-hidden">
    <%= button_to({ action: 'show', id: model.id }, aria: { label: t('.show.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'circle-info', class: 'icon text-info' %>
    <% end %>
    <%= link_to({ action: 'organ', id: model.id }, data: { turbo_frame: 'modal' }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <i class="fa-solid fa-building text-link"></i>
    <% end %>
    <%= button_to({ action: 'edit', id: model.id }, aria: { label: t('.edit.title') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'pencil', class: 'icon text-link' %>
    <% end %>
    <%= button_to({ action: 'destroy', id: model.id }, method: :delete, aria: { label: t('.destroy.title') }, data: { turbo_confirm: t('.destroy.confirm') }, class: 'button is-small is-borderless') do %>
      <%= svg_tag 'trash', class: 'icon text-danger' %>
    <% end %>
  </div>
</td>
