<td>
  <div class="is-several">
    <%= image_tag model.square_logo_url, class: 'image is-32x32' if model.square_logo_url.present? %>
    <span><%= model.name %></span>
  </div>
  <p class="text-grey"><%= model.corpid %></p>
</td>
<td>
  <%= link_to({ controller: '/admin/home', host: model.organ.host, auth_token: Current.session.id }, aria: { label: t('admin.home.index.title') }, class: 'button is-small is-borderless') do %>
    <i class="fa-solid fa-hand-point-right text-success"></i>
    <span class="pl-1"><%= model.organ_id %></span>
  <% end if model.organ %>
</td>
<td>
  <p><%= model.corp_type %></p>
  <p><%= model.subject_type %></p>
</td>
<td>
  <p><%= model.industry %></p>
  <p><%= model.sub_industry %></p>
</td>
