<div>
  <dt><%= Wechat::Corp.human_attribute_name(:name) %></dt>
  <dd><%= @corp.name %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:full_name) %></dt>
  <dd><%= @corp.full_name %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:corp_id) %></dt>
  <dd><%= @corp.corpid %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:corp_type) %></dt>
  <dd><%= @corp.corp_type %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:subject_type) %></dt>
  <dd><%= @corp.subject_type %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:square_logo_url) %></dt>
  <dd><%= @corp.square_logo_url %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:industry) %></dt>
  <dd><%= @corp.industry %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:secret) %></dt>
  <dd><%= @corp.secret %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:token) %></dt>
  <dd><%= @corp.token %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:encoding_aes_key) %></dt>
  <dd><%= @corp.encoding_aes_key %></dd>
</div>
<div>
  <dt><%= Wechat::Corp.human_attribute_name(:debug) %></dt>
  <dd><%= @corp.debug %></dd>
</div>
