<tr>
  <td class="has-text-right"><%= Wechat::Corp.human_attribute_name(:name) %></td>
  <td><%= @corp.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Corp.human_attribute_name(:full_name) %></td>
  <td><%= @corp.full_name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Corp.human_attribute_name(:corp_id) %></td>
  <td><%= @corp.corp_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Corp.human_attribute_name(:corp_type) %></td>
  <td><%= @corp.corp_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Corp.human_attribute_name(:subject_type) %></td>
  <td><%= @corp.subject_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Corp.human_attribute_name(:square_logo_url) %></td>
  <td><%= @corp.square_logo_url %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Corp.human_attribute_name(:industry) %></td>
  <td><%= @corp.industry %></td>
</tr>
