<td>
  <span class="pl-4"><%= model.name %></span>
  <span class="tag"><%= model.type_i18n %></span>
</td>
<td>
  <p><%= model.value %></p>
  <p><%= model.mp_appid %></p>
  <p><%= model.mp_pagepath %></p>
</td>
<td>
  <span class="text-grey"><%= model.position %></span>
</td>
<td>
  <% menu_app = @app.menu_apps.find(&->(i){ i.menu_id == model.id }) %>
  <% if menu_app %>
    <%= form_with theme: nil, url: { action: 'destroy', id: menu_app.id }, method: :delete, data: { controller: 'input' } do |f| %>
      <%= f.check_box :disabled, checked: true, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
      <label data-action="click->input#check"></label>
    <% end %>
  <% else %>
    <%= form_with theme: nil, scope: :menu_app, url: { action: 'create' }, data: { controller: 'input' } do |f| %>
      <%= f.hidden_field :menu_id, value: model.id %>
      <%= f.check_box :disabled, data: { input_target: 'checkbox' }, id: nil, class: 'switch is-rounded' %>
      <label data-action="click->input#check"></label>
    <% end %>
  <% end %>
</td>
