<th><%= Wechat::Wechat:: WechatAgency.human_attribute_name(:appid) %></th>
<th style="width: 60%">
  <p><%= Wechat::WechatAgency.human_attribute_name(:access_token) %></p>
  <p><%= Wechat::WechatAgency.human_attribute_name(:access_token_expires_at) %></p>
  <p><%= Wechat::WechatAgency.human_attribute_name(:refresh_token) %></p>
</th>
<th><%= Wechat::WechatAgency.human_attribute_name(:func_infos) %></th>
<th>
  <p><%= Wechat::WechatAgency.human_attribute_name(:nick_name) %></p>
  <p><%= Wechat::WechatAgency.human_attribute_name(:principal_name) %></p>
  <p><%= Wechat::WechatAgency.human_attribute_name(:user_name) %></p>
  <p><%= Wechat::WechatAgency.human_attribute_name(:alias_name) %></p>
</th>
<th><%= Wechat::WechatAgency.human_attribute_name(:qrcode_url) %></th>
<th></th>
