<% content_for :breadcrumb do %>
  <ul>
    <li><%= link_to t('wechat.panel.wechat_platforms.index.title'), panel_wechat_platforms_path %></li>
    <li><%= t('wechat.panel.wechat_agencies.index.title') %></li>
  </ul>
<% end %>

<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= WechatAgency.human_attribute_name(:appid) %></th>
      <th style="width: 60%">
        <p><%= WechatAgency.human_attribute_name(:access_token) %></p>
        <p><%= WechatAgency.human_attribute_name(:access_token_expires_at) %></p>
        <p><%= WechatAgency.human_attribute_name(:refresh_token) %></p>
      </th>
      <th><%= WechatAgency.human_attribute_name(:func_infos) %></th>
      <th>
        <p><%= WechatAgency.human_attribute_name(:nick_name) %></p>
        <p><%= WechatAgency.human_attribute_name(:principal_name) %></p>
        <p><%= WechatAgency.human_attribute_name(:user_name) %></p>
        <p><%= WechatAgency.human_attribute_name(:alias_name) %></p>
      </th>
      <th><%= WechatAgency.human_attribute_name(:qrcode_url) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_agencies.each do |wechat_agency| %>
    <tr>
      <td><%= wechat_agency.appid %></td>
      <td>
        <pre><%= wechat_agency.access_token %></pre>
        <p><time><%= wechat_agency.access_token_expires_at.to_s(:rfc822) %></time></p>
        <pre><%= wechat_agency.refresh_token %></pre>
      </td>
      <td><%= simple_format wechat_agency.func_infos %></td>
      <td>
        <p>
          <%= image_tag wechat_agency.head_img, class: 'image is-24x24' if wechat_agency.head_img %>
          <%= wechat_agency.nick_name %>
        </p>
        <p><%= wechat_agency.principal_name %></p>
        <p><%= wechat_agency.user_name %></p>
        <p><%= wechat_agency.alias_name %></p>
      </td>
      <td><%= image_tag wechat_agency.qrcode_url, class: 'image is-128x128' if wechat_agency.qrcode_url %></td>
      <td>
        <%= link_to panel_agency_path(wechat_agency), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to edit_panel_agency_path(wechat_agency), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to panel_agency_path(wechat_agency), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_agencies %>
