<div class="menu ex-accordion is-active">
  <%= link_to({ controller: 'wechat/panel/home' }, text: true, class: 'menu-label') do %>
    <div>
      <i class="fa-brands fa-fw fa-weixin"></i>
      <span><%= t('wechat.panel.title') %></span>
    </div>
  <% end %>
  <div class="menu-list">
    <%= link_to t('.registers.index.title'), { controller: 'wechat/panel/registers' }, class: active_helper(controllers: 'registers', active: 'is-active') %>
    <%= link_to t('.platforms.index.title'), { controller: 'wechat/panel/platforms' }, class: active_helper(controllers: 'platforms', active: 'is-active') %>
    <%= link_to t('.providers.index.title'), { controller: 'wechat/panel/providers' }, class: active_helper(controllers: ['providers', 'suites', 'corps'], active: 'is-active') %>
    <%= link_to t('.partners.index.title'), { controller: 'wechat/panel/partners' }, class: active_helper(controllers: ['partners'], active: 'is-active') %>
  </div>
</div>
