<div class="menu-list">
  <%= link_to({ controller: 'wechat/panel/home' }, text: true, data: { turbo_frame: 'body', action: 'menu#enter' }, class: 'menu-item') do %>
    <%= svg_tag 'weixin', kind: 'brands' %>
    <strong class="ml-1"><%= t('wechat.panel.title') %></strong>
  <% end %>
  <div class="pl-4">
    <%= link_to t('wechat.panel.registers.index.title'), { controller: 'wechat/panel/registers' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'registers', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('wechat.panel.platforms.index.title'), { controller: 'wechat/panel/platforms' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: 'platforms', item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('wechat.panel.providers.index.title'), { controller: 'wechat/panel/providers' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['providers', 'suites', 'corps'], item: 'menu-item', active: 'menu-item is-active') %>
    <%= link_to t('wechat.panel.partners.index.title'), { controller: 'wechat/panel/partners' }, data: { turbo_frame: 'body', action: 'menu#enter' }, class: active_helper(controllers: ['partners'], item: 'menu-item', active: 'menu-item is-active') %>
  </div>
</div>
