<div class="<%= active_helper(modules: 'wechat/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-brands fa-fw fa-weixin"></i>
    <span><%= t('wechat.panel.title') %></span>
    <i class="fa-solid fa-fw dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('wechat.panel.organs.index.title'), { controller: 'wechat/panel/organs' }, class: active_helper(controllers: 'organs', active: 'is-active') %>
    <%= link_to t('wechat.panel.registers.index.title'), { controller: 'wechat/panel/registers' }, class: active_helper(controllers: 'registers', active: 'is-active') %>
    <%= link_to t('wechat.panel.template_configs.index.title'), { controller: 'wechat/panel/template_configs' }, class: active_helper(controllers: 'template_configs', active: 'is-active') %>
    <%= link_to t('wechat.panel.categories.index.title'), { controller: 'wechat/panel/categories' }, class: active_helper(controllers: 'categories', active: 'is-active') %>
    <%= link_to t('wechat.panel.platforms.index.title'), { controller: 'wechat/panel/platforms' }, class: active_helper(controllers: 'platforms', active: 'is-active') %>
    <%= link_to t('wechat.panel.menus.index.title'), { controller: 'wechat/panel/menus' }, class: active_helper(controllers: 'menus', active: 'is-active') %>
    <%= link_to t('wechat.panel.contacts.index.title'), { controller: 'wechat/panel/contacts' }, class: active_helper(controllers: 'contacts', active: 'is-active') %>
    <%= link_to t('wechat.panel.apps.index.title'), { controller: 'wechat/panel/apps' }, class: active_helper(controllers: 'apps', active: 'is-active') %>
    <%= link_to t('wechat.panel.corp_external_users.index.title'), { controller: 'wechat/panel/corp_external_users' }, class: active_helper(controllers: 'corp_external_users', active: 'is-active') %>
  </div>
</div>
<div class="<%= active_helper(modules: 'wechat/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-brands fa-fw fa-weixin"></i>
    <span>企业微信</span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('wechat.panel.providers.index.title'), { controller: 'wechat/panel/providers' }, class: active_helper(controllers: ['providers', 'suites', 'corps'], active: 'is-active') %>
  </div>
</div>
<div class="<%= active_helper(modules: 'wechat/panel', active: 'menu ex-accordion is-active', item: 'menu ex-accordion') %>" data-controller="menu empty">
  <a class="menu-label" data-action="menu#toggle">
    <i class="fa-brands fa-fw fa-weixin"></i>
    <span>微信支付</span>
    <i class="fa-solid dropdown"></i>
  </a>
  <div class="menu-list" data-empty-target="content">
    <%= link_to t('wechat.panel.partners.index.title'), { controller: 'wechat/panel/partners' }, class: active_helper(controllers: ['partners'], active: 'is-active') %>
  </div>
</div>
