<th>
  <p><%= Auth::OauthUser.human_attribute_name(:name) %></p>
  <p><%= Auth::OauthUser.human_attribute_name(:type) %></p>
  <p><%= Auth::OauthUser.human_attribute_name(:appid) %></p>
</th>
<th>
  <p class="has-text-success"><%= Auth::OauthUser.human_attribute_name(:uid) %></p>
  <p><%= Auth::OauthUser.human_attribute_name(:unionid) %></p>
</th>
<th>
  <p><%= Auth::OauthUser.human_attribute_name(:identity) %></p>
  <p class="has-text-success"><%= Auth::OauthUser.human_attribute_name(:external_userid) %></p>
  <p class="has-text-info"><%= Auth::OauthUser.human_attribute_name(:pending_id) %></p>
</th>
<th>
  <%= Auth::OauthUser.human_attribute_name(:created_at) %>
</th>
