<%= render 'filter_form' %>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>
        <p><%= WechatRegister.human_attribute_name(:id_name) %></p>
        <p><%= WechatRegister.human_attribute_name(:id_number) %></p>
      </th>
      <th>
        <p><%= WechatRegister.human_attribute_name(:email) %></p>
        <p><%= WechatRegister.human_attribute_name(:email_code) %></p>
        <p class="has-text-danger"><%= WechatRegister.human_attribute_name(:password) %></p>
      </th>
      <th>
        <p><%= Member.human_attribute_name(:identity) %></p>
        <p><%= WechatRegister.human_attribute_name(:mobile_code) %></p>
      </th>
      <th><%= WechatRegister.human_attribute_name(:bind_url) %></th>
      <th><%= WechatRegister.human_attribute_name(:state) %></th>
      <th><%= WechatRegister.human_attribute_name(:appid) %></th>
      <th>
        <%= link_to new_panel_wechat_register_path, remote: true, class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i><%= t('.new') %>
        <% end %>
        <%= link_to admin_task_templates_path(tasking_type: 'WechatRegister'), target: '_blank', class: 'button is-link is-small' do %>
          <i class="fas fa-plus"></i>任务模板
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @wechat_registers.each do |wechat_register| %>
    <tr>
      <td>
        <p><%= link_to wechat_register.id_name, panel_wechat_register_path(wechat_register) %></p>
        <p><%= wechat_register.id_number %></p>
      </td>
      <td>
        <p><%= wechat_register.email %></p>
        <p><%= wechat_register.email_code %></p>
        <p class="has-text-danger"><%= wechat_register.password %></p>
      </td>
      <td>
        <p>
          <%= wechat_register.member.identity %>
          <%= link_to code_panel_wechat_register_path(wechat_register), method: :put, aria: { label: '验证码' }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
            <i class="fas fa-paper-plane"></i>
          <% end %>
        </p>
        <p><%= wechat_register.mobile_code %></p>
      </td>
      <td><%= image_tag wechat_register.bind_url, class: 'image is-24x24' if wechat_register.bind_url.present? %></td>
      <td><%= wechat_register.state_i18n %></td>
      <td><%= wechat_register.appid %></td>
      <td>
        <%= link_to panel_wechat_register_path(wechat_register), aria: { label: t('.show') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-eye"></i>
        <% end %>
        <%= link_to assign_panel_wechat_register_path(wechat_register), aria: { label: '分配' }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-hand-point-right"></i>
        <% end %>
        <%= link_to edit_panel_wechat_register_path(wechat_register), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-pencil-alt"></i>
        <% end %>
        <%= link_to bind_panel_wechat_register_path(wechat_register), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-qrcode"></i>
        <% end %>
        <%= link_to app_panel_wechat_register_path(wechat_register), aria: { label: t('.edit') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fab fa-weixin"></i>
        <% end %>
        <%= link_to panel_wechat_register_path(wechat_register), method: :delete, aria: { label: t('.destroy') }, data: { confirm: t('.confirm') }, remote: true, class: 'button is-small is-rounded is-light' do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @wechat_registers %>
