<tr>
  <td class="has-text-right"><%= Wechat::SuiteReceive.human_attribute_name(:corp_id) %></td>
  <td><%= @suite_receive.corp_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::SuiteReceive.human_attribute_name(:user_id) %></td>
  <td><%= @suite_receive.user_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::SuiteReceive.human_attribute_name(:agent_id) %></td>
  <td><%= @suite_receive.agent_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::SuiteReceive.human_attribute_name(:event) %></td>
  <td><%= @suite_receive.event %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::SuiteReceive.human_attribute_name(:event_key) %></td>
  <td><%= @suite_receive.event_key %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::SuiteReceive.human_attribute_name(:content) %></td>
  <td><%= @suite_receive.content %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::SuiteReceive.human_attribute_name(:message_hash) %></td>
  <td><%= @suite_receive.message_hash %></td>
</tr>
