<div class="fixed-grid has-6-cols">
  <div class="grid">
    <%= link_to({ controller: 'members', action: 'wechat' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.members.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'payees' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.payees.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'apps' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('.apps.index.title') %></span>
    <% end %>
    <%= link_to({ controller: 'wechat/in/apps' }, class: 'cell button is-fullwidth') do %>
      <span><%= t('wechat.in.apps.index.title') %></span>
    <% end %>
  </div>
</div>
