<td>
  <p><%= model.name %></p>
  <p class="has-text-grey"><%= model.kid %></p>
</td>
<td><%= model.note %></td>
<td><%= model.mapping %></td>
<td><%= model.rule %></td>
<td><%= model.example %></td>
<td><%= model.color %></td>
