<tr>
  <td class="has-text-right"><%= Wechat::Menu.human_attribute_name(:menu_type) %></td>
  <td><%= @menu.menu_type %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Menu.human_attribute_name(:name) %></td>
  <td><%= @menu.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Menu.human_attribute_name(:value) %></td>
  <td><%= @menu.value %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Menu.human_attribute_name(:mp_appid) %></td>
  <td><%= @menu.mp_appid %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Menu.human_attribute_name(:mp_pagepath) %></td>
  <td><%= @menu.mp_pagepath %></td>
</tr>
