<tr>
  <td class="has-text-right"><%= Wechat::Provider.human_attribute_name(:name) %></td>
  <td><%= @provider.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Provider.human_attribute_name(:corp_id) %></td>
  <td><%= @provider.corp_id %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Provider.human_attribute_name(:provider_secret) %></td>
  <td><%= @provider.provider_secret %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Provider.human_attribute_name(:token) %></td>
  <td><%= @provider.token %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::Provider.human_attribute_name(:encoding_aes_key) %></td>
  <td><%= @provider.encoding_aes_key %></td>
</tr>
