<div>
  <dt><%= Wechat::Provider.human_attribute_name(:name) %></dt>
  <dd><%= @provider.name %></dd>
</div>
<div>
  <dt><%= Wechat::Provider.human_attribute_name(:corp_id) %></dt>
  <dd><%= @provider.corp_id %></dd>
</div>
<div>
  <dt><%= Wechat::Provider.human_attribute_name(:provider_secret) %></dt>
  <dd><%= @provider.provider_secret %></dd>
</div>
<div>
  <dt><%= Wechat::Provider.human_attribute_name(:token) %></dt>
  <dd><%= @provider.token %></dd>
</div>
<div>
  <dt><%= Wechat::Provider.human_attribute_name(:encoding_aes_key) %></dt>
  <dd><%= @provider.encoding_aes_key %></dd>
</div>
