<div>
  <dt><%= Wechat::Agent.human_attribute_name(:corpid) %></dt>
  <dd><%= @agent.corpid %></dd>
</div>
<div>
  <dt><%= Wechat::Agent.human_attribute_name(:secret) %></dt>
  <dd><%= @agent.secret %></dd>
</div>
<div>
  <dt><%= Wechat::Agent.human_attribute_name(:agentid) %></dt>
  <dd><%= @agent.agentid %></dd>
</div>
<div>
  <dt><%= Wechat::Agent.human_attribute_name(:encoding_aes_key) %></dt>
  <dd><%= @agent.encoding_aes_key %></dd>
</div>
<div>
  <dt><%= Wechat::Agent.human_attribute_name(:token) %></dt>
  <dd><%= @agent.token %></dd>
</div>
<div>
  <dt><%= Wechat::Agent.human_attribute_name(:created_at) %></dt>
  <dd><time data-controller="time"><%= @agent.created_at.to_fs(:iso8601) %></time></dd>
</div>
