<div>
  <dt><%= Wechat::External.human_attribute_name(:name) %></dt>
  <dd><%= @external.name %></dd>
</div>
<div>
  <dt><%= Wechat::External.human_attribute_name(:state) %></dt>
  <dd><%= @external.state %></dd>
</div>
<div>
  <dt><%= Wechat::External.human_attribute_name(:add_way) %></dt>
  <dd><%= @external.add_way_i18n %></dd>
</div>
<div>
  <dt><%= Wechat::External.human_attribute_name(:gender) %></dt>
  <dd><%= @external.gender_i18n %></dd>
</div>
