<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:name) %></td>
  <td><%= @external.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:state) %></td>
  <td><%= @external.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:gender) %></td>
  <td><%= @external.gender %></td>
</tr>
