<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:name) %></td>
  <td><%= @external.name %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:state) %></td>
  <td><%= @external.state %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:add_way) %></td>
  <td><%= @external.add_way_i18n %></td>
</tr>
<tr>
  <td class="has-text-right"><%= Wechat::External.human_attribute_name(:gender) %></td>
  <td><%= @external.gender_i18n %></td>
</tr>
